[2017-12-30 15:47] FriOne opened #1 "Why not an npm module?"
I see repos for react and vue, but not for angular. Do you have problems with create one?
You could do it with this https://github.com/gonzofish/angular-librarian
https://github.com/FriOne/ng-fontawesome

[2017-12-30 23:58] mlwilkerson commented on #1
@FriOne I'm actively working on completing the Angular component to make available via npm soon.

[2018-01-12 23:49] devoto13 commented on #1
@mlwilkerson Is there anything I can do to help move this forward?

[2018-01-13 01:36] mlwilkerson commented on #1
@devoto13, thanks for offering. I didn't expect it to be 13 days later from my last comment and still not have this component shipped. What's happened in the interim is that I realized that we needed more attention and testing on the TypeScript definitions, which are a foundational piece of enabling the Angular development experience.

So TypeScript has been my focus recently, even re-working our

[2018-01-13 22:20] mlwilkerson commented on #1
@devoto13 Wait, I have another idea: we could bypass (temporarily) some of the library packaging refinements and I could give you a pre-release npm of the repo in its current state. You could start using in your Angular development, and giving feedback to help me iterate and finish it up for a full release.

I went back to try and refresh my memory about the state of things on that branch and to g

[2018-01-13 22:39] devoto13 commented on #1
Yes, let’s do it. I planed to spend some time on Sunday to investigate unit testing problem you reported. I can try to integrate NPM pre-release first and than look into unit tests if I have some time left.

[2018-01-14 17:25] devoto13 commented on #1
I've checked those 3 tools for building Angular libraries and I would say that https://github.com/filipesilva/angular-quickstart-lib is problematic in 3 areas:

- It's quite abandoned - not activity for almost half a year.
- It does not support scoped packages according to their README (i.e. not possible to publish package like `@fortawesome/angular-fontawesome`, only `angular-fontawesome`).
- It

[2018-01-14 17:34] devoto13 opened #3 "Discussion: API to register icons"
I think we should discuss how API for the icon registration in the library should look like. If we should have it at all.

### Option 1: reuse `fontawesome.library`

This means that users will have to do somewhere (where?) in their code:

[code]

Than they can just specify icon name in the template:

    <fa-icon icon="fas-user"></fa-icon>

- pro: No extra implementation in the `angular-fontawesom

[2018-01-14 18:01] Shinigami92 commented on #3
I as a developer would see 1 or 2 as the right way for DX
1. has the advantage that the documentation remains very similar
2. can be a bit messy for many icons

[2018-01-14 18:27] mlwilkerson commented on #1
@devoto13 Thanks!

RE: QuickStart, I don't feel devoted to it. But part of what inclined me that way is that it was an Angular-CLI team member who built it, apparently to demonstrate what might be the way forward in how `angular-cli` might support libraries in the future. So I didn't expect the QuickStart thing to be maintained _itself_ but rather inferred that it might be a pattern that would hav

[2018-01-14 18:35] mlwilkerson commented on #3
@devoto13 thanks for the comments. One of our goals with the various official `@fortawesome` scoped JS framework components has been to maintain some consistency across them about how it feels to dev with them (while of course allowing for the distinctiveness of each of those frameworks). So just as a high level non-functional requirement for our design of the Angular component's API, bear that in

[2018-01-14 19:32] devoto13 commented on #1
@mlwilkerson I totally understand your motivation when choosing QuickStart.

Angular itself uses quite custom and ad-hoc build process, so probably not a good example :) In any case what is valuable is what lies in `src` and example app from `examples` folder. Everything else is pile of chore configurations to get tools working and it's is not much hassle to replace them with another configuration

[2018-01-14 19:59] devoto13 commented on #3
I've read the React component README and I think that it is very similar to what we should do for Angular. Couple of notes:

### Explicit

This is same as option 3 in the original post.

### Library

This is option 1 or option 2 from the original post. Just want to note here that having global state (library) is not very common in Angular world, so that's why I offered option 2 at the first place.

[2018-01-17 21:24] devoto13 commented on #1
@mlwilkerson what would be the next step here? I think I will have couple of hours in the coming days, so can make a prototype of the icons library implementation described [here](https://github.com/FortAwesome/angular-fontawesome/pull/2#issuecomment-357673423) and/or add some tests to the repo.

[2018-01-19 00:16] mlwilkerson commented on #1
UPDATE: `@fortawesome/angular-fontawesome@0.1.0-1` is now available as an npm pre-release.

[2018-01-19 00:16] #1 closed

[2018-01-19 00:48] mlwilkerson commented on #3
Now that we've got the [first pre-release](https://github.com/FortAwesome/angular-fontawesome/issues/1#issuecomment-358825714) out there, I'm coming back around to thinking about this issue.

I do still want to have the Explicit / Option 3 approach available. So let's keep that.

Looking again at the idea of registering an icon in the Library, in my reading of the code, the Library isn't global, i

[2018-01-19 10:26] devoto13 commented on #1
I have migrated project to the pre-release version and it works very well. Great job! I think it will be very smooth experience after packaging is improved.

So if I import 2 icons to use in my application from the main, [here](https://www.dropbox.com/s/4d5enpdcuecb5hr/Screenshot%202018-01-19%2010.42.59.png?dl=0) is how my bundles looks like:

[code]

Note 770KB of the FA code added to the bundle.

[2018-01-19 10:57] devoto13 opened #5 "Use long form for boolean attributes"
Currently component expects a short form for boolean [attributes](https://github.com/FortAwesome/angular-fontawesome/blob/master/src/icon.component.ts#L107-L111), e.g. `<fa-icon spin></fa-icon>`. I don't think the short form of attributes is used in Angular world, so it will probably be confusing to users.

What's more important is that it blocks an important use case of binding variable to the bo

[2018-01-19 11:43] devoto13 commented on #3
It will probably come to just including FA bundle in a `<script>` tag. But we'll need to test that replacing icons from outside doesn't break Angular rendering. Think about `<i class="fa fa-spinner fa-spin" *ngIf="isLoading"></i>` for example. We should make sure that replacing icon won't break `ngIf` logic.

RE library and global state. I will need to check the `Library` implementation in the bas

[2018-01-19 13:57] mlwilkerson commented on #5
Good catch.

[2018-01-19 14:31] FriOne commented on #1
@devoto13 is it possible to make tree shaking work with:
[code]
?

[2018-01-19 14:35] devoto13 commented on #1
@FriOne Currently, you have to add special configuration for the bundler to enable tree-shaking when importing from main. See [documentation](https://fontawesome.com/how-to-use/use-with-node-js#tree-shaking).

Guys are working on changing packaging format, which should hopefully eliminate this step in the next release.

[2018-01-19 14:48] FriOne commented on #1
Can it be written inside `tsconfig.json` paths?
[code]
I think config ejection is not so popular when you work with the CLI.

[2018-01-19 15:27] robmadole commented on #1
@devoto13 this is pretty comical. Your examples:

[code]

...is something that @mlwilkerson also thought would be the most intuitive. But I tried very hard to talk him out of it.

My basic argument is that `@fortawesome/fontawesome-free-solid/faTimes` becomes a sub module and has more utility than just "give me the icon". For example if you just want the SVG path data you can do this:

[code]

It

[2018-01-19 15:37] devoto13 commented on #1
@FriOne I think it will work. But can you try and post back the results?

[2018-01-19 16:20] devoto13 commented on #1
@robmadole Yeah, does no look that nice in CommonJS... What do you think about keeping current exports structure, but adding one more export named same as icon? This should keep both ES2015 and CommonJS users happy. And I don't think there will be too much overhead from adding it.

E.g. add `exports.faUser = exports.definition` for every icon?

[2018-01-19 16:50] mlwilkerson commented on #1
Well, maybe not _right_ up. I'm on bad wifi again at the moment...but soon.

[2018-01-19 17:22] mlwilkerson commented on #1
Circumventing wifi...done.
@devoto13 Now try icon pack pre-release `5.1.0-2`.
Should work for any of the `-free-` or `-pro-` svg icon packs, like
[code]

[2018-01-20 03:58] FriOne commented on #1
@devoto13 I would like to but don't know how to install this module since it is not available on npm.

[2018-01-20 09:21] igorlino opened #6 "Bundling, Tree Shake, Ahead-of-time support"
1st of all, I happy to see this official library get done. FA5 is really awesome and I know there are quite a lot of modern webprojects with Angular+Boostrap that are definitively going to upgrade to FA5 Pro if there is nice official library to support it.

Here is a very nice description of how best to provide a library
http://blog.mgechev.com/2017/01/21/distributing-an-angular-library-aot-ngc-ty

[2018-01-20 09:27] igorlino opened #7 "modern web project generators support"
Something that will explosively increase usage of angular-fontawesome is if there is clear, easy and consistent instructions how to include/consume the angular-fontawesome in the 2 most powerful and popular angular 5 web project generators:

**angular-seed :**
- for more enterprise/advanced projects
- project: https://mgechev.github.io/angular-seed/
- github: https://github.com/mgechev/angular-see

[2018-01-20 11:25] devoto13 commented on #1
@FriOne oh, I just noticed that it was published as a private package (so only FA Pro subscribers can access it).

@mlwilkerson is it intended? Would be nice to have more people to try it out and give their feedback.

[2018-01-20 11:51] devoto13 commented on #1
@mlwilkerson Works like a charm with `5.1.0-2`!

[2018-01-20 12:21] devoto13 commented on #6
This package uses Angular Package Format v5, so bundling is done and AoT compilation is supported. Tree-shaking is working, when using deep imports for icons. There is also ongoing work to support tree shaking, when importing icons from package's main without [extra configuration](https://fontawesome.com/how-to-use/use-with-node-js#tree-shaking).

I think we can consider this issue resolved. Unles

[2018-01-20 12:24] devoto13 commented on #7
This is very good idea. We should definitely do it once library is documented and has a stable release.

[2018-01-20 12:41] FriOne commented on #3
Thinks we should have both options: #2 and #3. I guess we already have option #3, but #2 is very familiar to angular users.
How about to setup aliases for icons? For example I have:
[code]
And then at some point I want to change it to `user-circle`, so I I just change:
[code]
And it changes everywhere.

[2018-01-20 17:06] igorlino commented on #6
Hi, thanks for the fast answer,

I have seen inside your package.json, it does have what the [Angular Package Format v5](https://docs.google.com/document/d/1CZC2rcpxffTDfRDs6p1cfbmKNLA6x5O-NtkJglDaBVs/preview)
 specifies.

I see there was a lot related work done [recently](https://github.com/FortAwesome/angular-fontawesome/pull/4).  +1

Yes I think from implementation point of view, this is what i

[2018-01-20 17:12] devoto13 commented on #6
As stated in the README it is still work in progress. More documentation is coming. Stay tuned ;)

[2018-01-20 22:31] mlwilkerson commented on #1
Was not intended to remain private. The default is private upon initial publication and I forgot to go back and change it to public. I’ll fix that when I can get back to my laptop.

Sent from my iPhone

[2018-01-21 04:37] mlwilkerson commented on #1
UPDATE: it's now public

[2018-01-21 12:32] FriOne commented on #1
@mlwilkerson It works, thanks. Will you update the documentation in part where you need to change config to make the module tree-shakable? I mean `tsconfig.json`, like this:
[code]

[2018-01-21 14:35] #5 closed

[2018-01-21 14:46] mlwilkerson commented on #1
@FriOne I'd prefer to hold off on adding that documentation. We're in the process of removing the need for that shakable configuration—I expect it to be gone very soon. Also, we're still in a pre-release stage with this component—we expect more significant changes like this before it stabilizes and is ready to release.

[2018-01-21 17:06] FriOne commented on #1
Great! The module is very helpful, thanks :+1:

[2018-01-21 17:16] mlwilkerson commented on #1
@FriOne I changed my mind :wink: .
I was updating the README to provide more context for project status and such for newcomers and went ahead to add your example `tsconfig.json` in the section on tree shaking. Thank you!

[2018-01-21 17:17] mlwilkerson commented on #6
I updated the README just now to provide a little more context for newcomers to our project here.

[2018-01-21 18:44] igorlino commented on #6
The link
https://github.com/FortAwesome/Font-Awesome-Pro/issues/978
is broken

[2018-01-21 18:44] #6 closed

[2018-01-21 18:46] devoto13 commented on #6
@igorlino It is not broken. It is only available to FA Pro subscribers.

[2018-01-22 16:01] igorlino commented on #6
@devoto13  Thanks. I'm in discussing with my project, I hope to get very soon that access  ;)

[2018-02-12 20:07] karptonite commented on #3
We are discussing moving our Angular 5 app to Font Awesome from a combination of Glyphicons and Foundation icons, so this is very interesting to us!

For a team like ours, where we have a designer working somewhat separately from the programmers, Option 1  and Option 2 are appealing. The designers can just work in the templates, and doesn't have to poke around in the component.ts files, as they wo

[2018-02-13 03:32] FriOne commented on #3
@karptonite I guess the icons will be in main module only in case of lazy loading. Because modules separated by webpack.

[2018-02-13 14:20] karptonite opened #10 "Specifying icon prefix for icons added to library"
If an icon is added to the library with `library.add(faUser)`, we can then display them in a template with `<fa-icon="user"></fa-icon>` for solid icons. it looks like if we want to use the same icon from the "light" set, we would do `<fa-icon icon="['fal', 'user']"></fa-icon>`.

Is this the intended syntax? It works, but is a bit clunky. It might be worth adding a separate "prefix" or "iconSet" in

[2018-02-13 15:39] devoto13 commented on #10
The issue with adding `prefix` property is that there is also a `mask` property on the component, which accepts same signature, so we'll probably have to add `iconPrefix` and `maskPrefix` if we decide to go this road.

But I agree that there should be nicer way to use icons from multiple sets.

[2018-02-20 23:42] mlwilkerson commented on #10
So @devoto13, what do you think about adding `iconPrefix` and `maskPrefix`? Would that be a nicer way?

I think a case could be made that `icon="['fal', 'user']"` is more succinct than `iconPrefix='fal' icon='user'`, but maybe it's just not as friendly?

[2018-02-21 01:12] karptonite commented on #10
Although I proposed the change, there is a downside of the more friendly form: you can't as easily pass an icon with its prefix as a variable with the `iconPrefix` formation. At most, I'd say this should be optional, with the array notation still working.

[2018-02-21 16:59] robmadole commented on #10
@karptonite yes, that was the same conclusion that we found with the vue-fontawesome component as well. There are advantages to the clunky 😒

[2018-02-21 17:02] devoto13 commented on #10
My main concern about adding `iconPrefix` and keeping support for array form in the `icon` property is that we'll have multiple ways to pass same information and I foresee bunch of bug reports about it... E.g. which icon this component should display?

[code]

If we are going to do this, we'll need to only allow icon name to be specified in the `icon` property, which in turn will make [binding ico

[2018-02-21 17:26] devoto13 commented on #3
@karptonite Note that having a library with all icons included will retain all of this icons in production bundle, which can be a [significant](https://github.com/FortAwesome/angular-fontawesome/issues/1#issuecomment-358926479) amount of bytes. The only option, which currently provides a reliable tree shaking is option 3.

[2018-02-21 17:52] karptonite commented on #3
@devoto13 I'm not considering a library with all icons included. However, importing all of the icons that we will be using on the site in one place seems like a reasonable tradeoff, and imports only the icons used (although it currently requires deep imports). I don't see how that is incompatible with option 2 if you only import the icons used there as well.

[2018-02-21 17:53] rochapablo opened #11 "Cannot read property 'html' of undefined"
I'm getting the follow error:

[code]

**app.module**
[code]

**component.html**
[code]

**package.json**
[code]

What could I be missing?

[2018-02-21 17:55] devoto13 commented on #3
@karptonite Yup, if you import only icons you use, it is fine. But it also means that designer will have to import icons and add to the library, when they want to use a previously unused one.

[2018-02-21 17:59] karptonite commented on #3
@devoto13 Yes, that is true. Importing in one place for each icon is an acceptable workflow; importing in each component separately and assigning to a variable in the component is not.

[2018-02-21 18:48] mlwilkerson commented on #11
Thanks for jumping in here, @rochapablo.

Looks like in your `component.html`, you are trying to reference the `faUser` _object_, but have you made that object available to your template?

If you look in the `examples` of this repo, you'll see how the [ExampleComponent](https://github.com/FortAwesome/angular-fontawesome/blob/master/examples/example.component.ts) makes a few icon objects available

[2018-02-21 18:52] mlwilkerson commented on #11
What must be happening is that the call to the `icon()` API function is returning `undefined`, indicating that it didn't find an icon, given `iconSpec`. And `iconSpec` is derived from  `[icon]="faUser"`.

So, regardless, I think we should have better error handling here.

[2018-02-21 18:54] rochapablo commented on #11
Yeh, you're right! I got this working.

Now I'm trying to just use [string and/or array](https://github.com/FortAwesome/angular-fontawesome/blob/bb7c3a1dbae48339095f11028d82889609a08972/src/icon.component.ts#L29) to get something like ```fas fa-address-book``` but still getting undefined.

Also is it possible don't have to load all icons that I will be using?

[2018-02-21 19:36] rochapablo commented on #11
Well I believe that this will make a huge bundle, but it will include every possible icon

[code]

[2018-02-21 19:44] mlwilkerson commented on #11
I'm working on adding something to the example in the repo that will clarify how to reference icons with non-default prefixes.

As for your workaround, while that may work, it is essentially avoiding the Angular component and instead relying on our `autoReplaceSvg` functionality to translate `<i>` tags into `<svg>`. If you're satisfied with that, great. But you may find it more performant (includi

[2018-02-21 21:39] mlwilkerson commented on #11
OK, I've just published a new pre-release `0.1.0-4` which has some expanded examples and more explanation both in the source code under `examples/` and in the example app web output. So if you were to `yarn start` (or `npm run start`) on this latest prerelease, and look at both the browser output and the `examples/` source code, I think it may help.

This is also relevant to the discussion on #10

[2018-02-21 22:09] #11 closed

[2018-02-21 22:17] mlwilkerson commented on #10
Especially after working on adding some better examples and explanations in #12, I lean toward _not_ adding `iconPrefix` and keeping only the array syntax like:
[code]

Keep in mind too, though, that you don't _have_ to specify the prefix at all, if you pass in an icon _object_ that knows its own prefix, which seems like what @devoto13 prefers—if I read correctly.

So, if you were to do an import

[2018-02-22 04:20] FriOne commented on #3
@karptonite you can create a pipe, in that case you will have only one entry point.

[2018-02-22 11:11] rochapablo commented on #11
Thank you!

[code]

Worked just as I expected.

Well done sir.

[2018-02-22 12:28] rochapablo commented on #11
Just an observation; using in a "normal" component like the [example](https://github.com/FortAwesome/angular-fontawesome/tree/master/examples) it works normally. But when I use inside an reusable component it will keeps getting the ```Cannot read property 'html' of undefined```.

Here's an example

[code]

[2018-02-22 15:34] karptonite commented on #3
@FriOne that is intriguing. Are you proposing a `| icon` pipe that takes a string or array representation of an icon and returns the icon itself? You could do all the imports in the pipe. That could work, but I don't see how it gains you much over registering the icons directly with option 1 or option 2.

[2018-02-22 15:55] robmadole commented on #3
Wanted to pop in here and mention that the "encapsulation" of Option 3 (and 2 as well) will provide better long-term scaling as projects and teams grow. One of the issues that has always bothered me about the `fontawesome.library` is that it creates a dependency between the component and the thing that sets up the library. This can create an opportunity for sneaky things to break (what if someone

[2018-02-22 16:13] robmadole commented on #11
That looks like a separate issue, @rochapablo are you willing to file a separate bug for this?

[2018-02-22 16:29] mlwilkerson commented on #11
@rochapablo it looks like in your most recent example you haven't set up the icon correctly. But I would have expected the new error logging in version `0.1.0-5` to have given you a more helpful error message that might help with debugging.

If you haven't already, could you please update `@fortawesome/ember-fontawesome` to that latest prerelease version and try again?

I think the error message w

[2018-02-22 16:46] mlwilkerson commented on #11
Whoops, I misread your code snippet.

I think the part of my previous response about updating to the latest prerelease is still valid and may help with debugging. But I'll take another look.

[2018-02-22 16:55] mlwilkerson commented on #11
Oh, so yes, my comment about the `iconName` being `flag` not `fa-flag` is also still valid. It may work correctly if you just change it to:
[code]

I think the reason why you're seeing that `<i [ngClass]="icon"></i>` works is that using an `<i>` tag when FontAwesome configured with `autoReplaceSvg: true` causes our library to automagically transform that `<i>` into an `<svg>`. It's bypassing the A

[2018-02-22 17:06] rochapablo commented on #11
Yep, ```['far', 'flag']``` without ```fa-``` worked.

Oh about the version, I was using ```@fortawesome/angular-fontawesome```: ```0.1.0-4``` that's why I wasn't getting the right message error, updating to ```0.1.0-5``` worked.

I believe that now we're done here. Thank you again for your time.

[2018-02-22 17:09] robmadole commented on #11
@mlwilkerson you da man 💯

[2018-02-27 10:06] kukac7 commented on #7
angular-cli +1

[2018-02-27 14:06] wartab opened #15 "Using Font Awesome 5 in Angular application before bootstrapping (and after bootstrapping)"
We have been using Font Awesome 4 up until now and are now in the process to upgrade to version 5 properly.
All icons are working perfectly and this package seems to accomplish everything we have used so far in version 4 while being easy to use.

There is sadly one issue we are unable to solve: we would like to use a spinning circle-notch icon before Angular is done bootstrapping our application.

[2018-02-27 16:25] robmadole commented on #15
@wartab this is an interesting optimization. One way that you might be able to accomplish this is with server-side rendering. What creates the HTML page that triggers your Angular bootstrapping?

[2018-02-27 16:26] devoto13 commented on #15
As a quick solution I would consider inlining SVG icon with any relevant CSS styles in `index.html` file. Something like [this](https://jsfiddle.net/devoto13/h0d93npw/2/). This is not very clean, but gives an advantage that spinner is displayed instantly without loading bunch of extra library code.

Wonder why https://fontawesome.com/how-to-use/use-with-node-js didn't work for you. Is there any sp

[2018-02-27 16:36] wartab commented on #15
@robmadole My Angular application is encapsulated in Electron, I do serve the HTML file as produced after a normal build with Angular-CLI. There's no server-side rendering involved.

@devoto13 I guess that this could be a temporary solution that works. Hopefully something better can be found, though.
I'm not exactly sure why it doesn't work, I thought that the `main.ts` file was executed synchrono

[2018-02-27 16:46] devoto13 commented on #15
@wartab I would not rely on icons auto replacement in this case. Rendering icon manually seems to work. [See here](https://stackblitz.com/edit/angular-7zm528).

[2018-02-27 19:49] dhniels commented on #11
@rochapablo could you show me how you got this working in your Angular project? I'm getting this error `Can't bind to 'icon' since it isn't a known property of 'fa-icon'.`

This is how i have it setup so far:

**app.module**

[code]

**component.html**

`<fa-icon [icon]="faStickyNote"></fa-icon>`

**package.json**

"@angular": "5",
"@fortawesome/angular-fontawesome": "*",
"@fortawesome/fontawesome

[2018-02-27 22:41] mlwilkerson commented on #7
+1 😉

[2018-02-27 22:42] mlwilkerson commented on #10
Given our discussion above, I'm going to close this now, but glad to re-open if there's more to explore here.

[2018-02-27 22:42] #10 closed

[2018-02-28 09:13] wartab commented on #15
Thank you, that seems to work fine!
Something that surprises me, though, is that you need to actually introduce a setTimeout() delay for it to actually work.

This works: https://pastebin.com/QJKMNBUu
This doesn't: https://pastebin.com/kiFQQQuc

By the way, deep imports need to be done this way for me and work everywhere:
`import * as faCircleNotch from "@fortawesome/fontawesome-free-solid/faCircl

[2018-02-28 12:10] devoto13 commented on #15
Yes, it is unexpected. Not sure why it happens though.

Yes, this is exactly what my comment was about.
I tried [syntax](https://github.com/FortAwesome/angular-fontawesome/issues/1#issuecomment-358997531) from pre-release version of FA and that's why it didn't work in StackBlitz.

[2018-02-28 17:36] devoto13 commented on #15
@wartab I looked into why it does not work without `setTimeout()` and it [seems](https://stackoverflow.com/q/33682895/1377864) that browser will only render DOM updates after the  the current macro task is complete. And since application bootstrap is executed in this same macro task it will already replace SVG inserted manually with application's DOM by the time browser is ready to render DOM chan

[2018-03-01 10:39] wartab commented on #15
Yes, I have noticed this issue with a blank page for a short time. For now, we'll stick with the easiest solution, which is roughly your first solution. Thank you very much for your help on this issue.

[2018-03-08 05:12] sheikalthaf opened #16 "Need a proper documentation for implementation."
Need a proper guide to implement the component.
1. how to import module
2. how to use component

[2018-03-09 16:54] devakone opened #17 "How to specify icon color"
How would you specify a specific color for an icon?

Thank you

[2018-03-09 18:17] robmadole commented on #17
Hi @devakone . The icons will inherit, through CSS, the color from its parent. So just use CSS :)

[2018-03-09 18:17] #17 closed

[2018-03-23 01:33] k-schneider opened #18 "Usage with app shell?"
Has anyone used this library with an app shell successfully?

Nothing "breaks" exactly but the icons initially render larger than expected until the Javascript execution kicks in and binds the actual content.

Thanks.

[2018-03-23 17:15] mlwilkerson commented on #18
Thanks for the question, @k-schneider. I'm not yet familiar with an app shell. Might you make a little repro repo that demonstrates the scenario?

It sounds like the CSS that we inject into the head once icons are rendered through the fontawesome API isn't present initially, thus allowing the SVGs to appear larger at first. But I'm having trouble imagining the scenario whereby this would occur.

[2018-03-23 17:17] #15 closed

[2018-03-23 17:18] mlwilkerson commented on #15
There might be a connection between this issue and #18.

[2018-03-23 17:42] devoto13 commented on #18
I remember seeing something like this, when I was investigating #15. It is likely caused by CSS being inserted dynamically by FontAwesome library.

@k-schneider Having a repo with simple instructions, which we can run to debug the problem would definitely help to resolve this quicker.

Generally I think that inserting CSS using Angular component styles instead of base FA library is a good idea. Th

[2018-03-23 21:03] mlwilkerson commented on #18
Upon a closer look, there may already be the right mechanisms in place to accomplish that, @devoto13. And I'm working _right now_ on the changes to bring this Angular component up to date with our 5.1 release, which is largely motivated by the packaging concerns you raised. So, this would be the perfect time to tweak the way CSS is loaded for the Angular component.

So, here are the tools we have

[2018-03-23 22:48] mlwilkerson opened #19 "Add title to FaLayersTextComponent for feature completeness"

[2018-03-24 14:26] devoto13 commented on #18
I have made a reproduction for this issue here: https://github.com/devoto13/fa-app-shell-demo. And the problem is indeed the missing FontAwesome's styles. Looks like `@angular/platform-server` does not include any CSS not inserted through Angular (which is quite expected).

@mlwilkerson you're right, there is a pre-rendering happening to build app shell (see README in the repro). Unfortunately I d

[2018-03-26 11:28] devoto13 commented on #18
@wartab Can you elaborate on what defies the point of this library?

IMO The app shell is very clean and straight-forward solution for rendering something before Angular bootstraps. Note that this is different from universal, as rendering of the app shell happens at the build time and does not require a server, so it should work perfectly for your use case with Electron app as well.

Once this iss

[2018-03-26 14:36] pantonis commented on #1
I dont want to use a pre-release version. So I am using package.json to download the packages

[code]
and then I am stuck to the angular-cli part.
Do I need to reference something here? How do I use the icons?

[2018-03-26 14:46] devoto13 commented on #1
I would strongly recommend to either use pre-release version or wait until there is a first stable release. There are some instructions how to setup it with base library [here](https://fontawesome.com/how-to-use/use-with-node-js), but they are not very clear. You'll also get much worse experience with this setup (bad docs, because it is not intended use), no tree-shaking (adds about 300kb to your

[2018-03-26 15:06] pantonis commented on #1
Can I use the pro icons with webfonts qith css?

[2018-03-26 15:32] robmadole commented on #1
@pantonis yep, you sure can. Let me know if you need help with that.

[2018-03-26 15:58] mlwilkerson commented on #1
@pantonis +1 to @devoto13's recommendation to use pre-release versions or wait. The development of this Angular component has actually been a key driver of the changes in our soon-forthcoming 5.1 release. So a lot about this Angular component working as designed, from the outset, depends upon what its in the pre-release. I think of the whole Angular component itself has really a pre-release, depen

[2018-03-26 16:13] pantonis commented on #1
@robmadole I only see @fortawesome/fontawesome-free-webfonts in the npmjs. I dont see any instructions on how to install pro version. Can you assist please?

[2018-03-26 16:23] pantonis commented on #1
OK I think I managed. For anyone else having the same problem (lack of documentation) this is what I did to use pro webfonts with css with angular 5 and angular-cli:

1.  Use the instructions [here ](https://fontawesome.com/how-to-use/use-with-node-js#pro) to set fontawesome pro npm registry.
2. Run ```npm view @fortawesome/fontawesome-pro-webfonts``` to view the latest version
3. Open package.jso

[2018-03-26 16:59] mlwilkerson commented on #1
Glad you got it working, @pantonis.

Some caveats:

(1) using this approach will end up undermining several of the key goals of this Angular component (such as providing an optimized and Angular-native way of working with icons), so I consider it a pretty substantial workaround, to the point that it's really an _alternative_ to using this Angular component altogether.

(@pantonis Is that how you s

[2018-03-26 17:05] pantonis commented on #1
@mlwilkerson right now I am in the middle of a release and as I said I cannot risk using a beta library.  I have also several thousands of lines of code and I don't have the time to update them using the angular directive of the angular lib. It will cost me money.

By saying @fortawesome/fontawesome-pro-webfonts will be deprecated in the 5.1 you mean <i> tags will not be working anymore.

Thanks

[2018-03-26 17:31] mlwilkerson commented on #1
@pantonis I understand. Sometimes we gotta make those calls. I also want others who find this to know that the path you've chosen for incorporating Font Awesome 5 in an Angular app is really a different implementation method than what we're trying to enable here with this component. I trust that you have good business reasons for doing so.

The method you've chosen is a perfectly legitimate use of

[2018-03-26 17:40] pantonis commented on #1
Business reasons are the only reason I intend to use this method. I will add angular-lib to our backlog with high priority with a note to switch when angular lib is production ready.

[2018-03-27 08:09] wartab commented on #18
I think app shell is great. I just think that having to go back to manually including the CSS files for prerendering defies the purpose of angular-fontawesome. But as I said, this is nothing you can currently work around to my knowledge.

[2018-03-27 22:26] mlwilkerson commented on #19
Resolved via #20

[2018-03-27 22:26] #19 closed

[2018-03-27 22:29] mlwilkerson commented on #16
Hi @sheikalthaf in preparation for our next release, we've put out pre-release `0.1.0-6`, which includes some more documentation.

I'll close this issue against PR #20. But do have a look and let us know if you think something important is missing from the docs.

Here are some links into relevant docs:

- [README.md](https://github.com/FortAwesome/angular-fontawesome/blob/master/README.md)

- [UPG

[2018-03-27 22:29] #16 closed

[2018-03-27 23:14] devoto13 opened #22 "0.1.0-6 release is broken"
It does not have actual library code, only examples and some config files. Published from the wrong directory I think. Should be `dist` instead of project root.

[code]

[2018-03-28 01:09] mlwilkerson commented on #22
Good grief. Glad you caught that, @devoto13. Thank you.
Fixed with `0.1.0-7` and unpublished `0.1.0-6`.

[2018-03-28 01:09] #22 closed

[2018-03-28 01:10] mlwilkerson commented on #16
UPDATE: I previously had referenced a different pre-release version in my last comment. That pre-release npm package was broken. Updated that to refer to a new, fixed pre-release version.

[2018-03-28 17:53] mlwilkerson commented on #3
Now with [0.1.0-8](https://github.com/FortAwesome/angular-fontawesome/releases/tag/0.1.0-8) pre-released, which supports all of the Font Awesome API features, I'm circling back around here to this issue to re-assess where we may want to go from here.

I think I'm hearing a consensus that @devoto13's Option 2 above is the most Angular-friendly approach, retains good encapsulation and is more scalab

[2018-03-28 18:02] mlwilkerson commented on #7
@igorlino Could you have a look at our latest pre-release `0.1.0-8` and its documentation for using this component and let us know what you think, with respect to your suggestion above?

All of the installation instructions and examples in the [README](https://github.com/FortAwesome/angular-fontawesome/blob/master/README.md) are based on Angular CLI.

[2018-03-28 18:03] karptonite commented on #3
How would Option 2 work when importing icons with the same name from different sets? Say you want to use the same icon from the solid and the light sets in different places?

[2018-03-28 18:34] mlwilkerson commented on #3
@karptonite yes, good point.

We currently support this syntax for specifying the icon prefix (aka "set", "style"):
[code]

Would that suffice?

Another option would be to add a `prefix` attribute to the component, which is what we did [over on our Ember component](https://github.com/FortAwesome/ember-fontawesome/pull/3) (and I have a vague recollection that we've discussed that in this repo as we

[2018-03-28 18:50] robmadole commented on #3
[code]

has some complications when we start talking `masks`:

[code]
🤢

And there also other complications. I hashed over this in the Vue project [here](https://github.com/FortAwesome/vue-fontawesome/issues/18)

(After using vue-fontawesome myself for building fontawesome.com the array syntax of `[icon]="['far', 'user']"` was the most usable in my opinion even if it was ugly and seemed gross at f

[2018-03-28 19:16] mlwilkerson commented on #3
Yeah, good point, @robmadole. I personally am satisfied with that rational for just sticking with the array syntax: that you've run this through its paces in a real world project using the breadth of features (including mask).

[2018-03-28 19:26] karptonite commented on #3
@mlwilkerson that array form is fine for in the templates. I'm wondering how it would work in the imports.
[code]
would we have to use "as" syntax for all of our non-solid imports?

[2018-03-28 19:34] mlwilkerson commented on #3
OK yes, I wondered if that might be a concern. And yes, I think that's normal that you'd have to use the `as` syntax do that your JS object names don't collide. But that might be all you'd need to do, because those icon objects know what their own prefixes are.

So if you did this:
[code]
It would work, and you'd then just use the aforementioned array syntax in the templates to specify which you i

[2018-03-28 19:37] karptonite commented on #3
Ok, that is similar to what we do now. It is a shame that different namespaces weren't used for the different sets, though. It makes it less convenient than it would otherwise have been.

[2018-03-28 19:51] mlwilkerson commented on #3
I doubt it, because it wouldn't tree shake when I tried:

`import { fas } from...` in the module and then `<fa-icon [icon]="fas.faUser">` in the template, which seems equivalent from a tree-shaking perspective.

[2018-03-29 02:04] dolanmiu opened #25 "has no exported member"
When I follow the instructions, I get this error:

![image](https://user-images.githubusercontent.com/2917613/38066024-ef46cfee-32fd-11e8-8ede-04de207bd172.png)

[2018-03-29 03:43] MichaelGambold commented on #25
I had the same issue after just installing this. After running a `npm update` I no longer got the error messages and was able to get past this. The versions of the packages after the update are listed below.

@fortawesome/fontawesome-svg-core   1.2.0-10      1.2.0-10      1.2.0-7
@fortawesome/free-solid-svg-icons        5.1.0-7        5.1.0-7        5.1.0-4

[2018-03-29 04:30] mlwilkerson commented on #25
We did have some problems with a pre-release in the past 24 hours or so, to which those errors have some relevance, though I'm not sure if it's the same issue. The problems we identified were fixed in  #24 in the follow-up pre-release `@fortawesome/angular-fontawesome@0.1.0-8`.

@dolanmiu can you tell me which version of `@fortawesome/angular-fontawesome` is involved in those errors?

And then, ye

[2018-03-29 08:51] wartab commented on #25
@fortawesome/fontawesome-svg-core does not seem to be installed with @fortawesome/angular-fontawesome, as it is only a dev-dependency. Is it mandatory to add it ourselves (wasn't a few days ago).

[2018-03-29 08:57] wartab commented on #25
After installing the latest version on NPM of even @fortawesome/fontawesome-svg-core I get this:

[code]

[2018-03-29 10:09] dolanmiu commented on #25
I will check tonight, at work at the moment

[2018-03-29 11:51] devoto13 commented on #25
My educated guess it that the root cause is that some of the pre-releases don't have `latest` tag on the NPM on the latest pre-release :) As a result people get 2 versions of core in their node_modules and run into all sort of troubles. If you install packages by using concrete versions than everything should work. Following installation instructions from README will lead to the above error.

[2018-03-29 12:26] mlwilkerson commented on #25
@wartab We did move `fontawesome-svg-core` to a `peerDependencies` in a recent pre-release, and updated the installation instructions in [README.md](https://github.com/FortAwesome/angular-fontawesome/blob/master/README.md) accordingly. So yes, this would require installing it separately.

@devoto13 Yes, the `latest` dist-tag. That's almost certainly what it is. I thought I'd got all of those updat

[2018-03-29 15:06] wartab commented on #25
Thank you, that fixes everything. In PHPStorm, I use autocompletion to keep NPM packages up to date, so @latest is usually what I go for for most packages.

[2018-03-29 16:48] mlwilkerson commented on #25
OK, thanks for the report.

[2018-03-29 16:48] #25 closed

[2018-03-29 23:17] dolanmiu commented on #25
@mlwilkerson I was using `@fortawesome/angular-fontawesome@1.2.0-7`

Updated to `@fortawesome/angular-fontawesome@1.2.0-10`

Seemed to have fixed it :)

[2018-03-29 23:28] mlwilkerson commented on #25
Yeah, there have definitely been some volatile changes between those pre-release versions. We're close to locking down and stabilizing a real release soon, though. Thanks for the feedback, and sorry for the trouble.

If I'm not mistaken, though, the package@version strings you mentioned above are mismatched. I think I know what you mean, I just want to call that out so that others don't come along

[2018-03-30 01:14] dolanmiu commented on #25
@mlwilkerson Yup, I upgraded `@fortawesome/fontawesome-svg-core` from 1.2.0-7 to 1.2.0-10.

When I first installed `@fortawesome/fontawesome-svg-core` last night for the very first time, it installed `1.2.0-7` by default for some reason. `1.2.0-7` seems to have been released a while ago.

When doing it again, it seemed to have got `1.2.0-10`

[2018-03-30 01:25] mlwilkerson commented on #25
Right, that's because `1.2.0-7` was the one tagged `latest` when you initially installed. It was earlier today that I added the `latest` tag to the `1.2.0-10` prerelease. By default, if you don't include a version number with the package you install, it will try to install the `latest`. Normally a prerelease like this wouldn't be `latest`, but in the case of this Angular component, we've been rega

[2018-04-01 16:49] robmadole opened #26 "Add table of contents to README"
See https://github.com/FortAwesome/vue-fontawesome/commit/3b1b48349b0bae1357a404157179cd54e7a06d4d for an example.

[2018-04-02 22:19] ceilino commented on #7
@mlwilkerson  I have finally given a last try, not with the angular cli, but with an angular-seed project.
I have good news, migrating from FA4 to FA5 is now working quite well. My production build was reduced by ~500kb, no joke.

Thanks a lot for all the awesome work you guys have done.

If you wish to I can contribute the section for the angular-seed generator.

After reading the README, the fol

[2018-04-04 09:29] deveshsinghal22 commented on #25
"@fortawesome/fontawesome-svg-core": "^1.2.0-10",

I am still getting this error.
 `ERROR in node_modules/@fortawesome/angular-fontawesome/icon/icon.component.d.ts(2,22): error TS2307: Cannot find module '@fortawesome/fontawesome-svg-core'.
node_modules/@fortawesome/angular-fontawesome/layers/layers-counter.component.d.ts(1,40): error TS2307: Cannot find module '@fortawesome/fontawesome-svg-core'.

[2018-04-04 11:58] wartab commented on #25
As @mlwilkerson said, you need to add "@fortawesome/fontawesome-svg-core" as dependency yourself now, as it is only a peer dependency in this package.

[2018-04-04 15:52] devoto13 opened #27 "Library is not compatible with `fullTemplateTypeCheck` compiler option"
[`fullTemplateTypeCheck`](https://angular.io/guide/aot-compiler#fulltemplatetypecheck) option enables more strict type checking mode for Angular templates to ensure that more errors are caught using static analysis. This in particular ensures that component properties used in the templates are public (see my [SO answer](https://stackoverflow.com/a/39000046/1377864) regarding why they supposed to b

[2018-04-09 11:47] deveshsinghal22 opened #29 "Metadata version mismatch"
I am getting below error, When I am trying to use icons in Angular v5.
It doesn't come instantly at the time of installation. but after some time it get triggered and need to revert all imports.
[code]

[2018-04-09 21:44] thatcort opened #30 "Type Definition Error"
When using the pro light icons I get the following error on the line where I add the light icon to the library:

[code]

I don't get this error using the solid icons or the free icons.

My module code has the following:

[code]

My template uses the icon as follows:
[code]

[2018-04-10 06:24] devoto13 commented on #30
It may be because you use '@fortawesome/fontawesome-pro-light‘ package instead of '@fortawesome/pro-light-svg-icons‘. Former is not intended to be used with the latest pre-release.

[2018-04-10 13:02] devoto13 commented on #29
@deveshsinghal22 this library works only with [Angular 5+](https://github.com/FortAwesome/angular-fontawesome/blob/c9cd5435a045e997fe5f112073de1d367dc63f01/package.json#L100).

[2018-04-10 13:04] deveshsinghal22 commented on #29
Ok, so it is an invalid.

[2018-04-10 15:08] robmadole opened #31 "Fix error to enable publishing using np"
This project includes integration with `np`. Which would be great to use.

The only issue is that when `npm run tagVersion` is ran the following occurs:

[code]

[2018-04-10 16:57] thatcort commented on #30
Thank you, that did the trick. It would be great to update the docs. I had to dig around a lot to figure out how/where to install the pro fonts from npm. I clearly found out of date versions.

[2018-04-10 17:00] devoto13 commented on #30
@thatcort Please, point out where you have seen outdated docs, so we can fix them.

In the meantime README in this repo should contain an up to date documentation on how to install [more icons](https://github.com/FortAwesome/angular-fontawesome#add-more-styles-or-pro-icons).

[2018-04-10 17:26] mlwilkerson commented on #30
Hi @thatcort if you were looking at docs on our main site, fontawesome.com, those haven't yet been updated for the pre-releases. This Angular component is being developed on the bleeding edge, and has often, in fact, defined that edge. So for the moment, the documentation on the main web site haven't caught up with the documents that you'll find on the latest version of the README in this repo for

[2018-04-10 17:41] thatcort commented on #30
If I can find them again, I will. I can open another ticket for that if you'd like to close this one.

[2018-04-10 17:52] mlwilkerson commented on #30
OK, thanks.

[2018-04-10 17:52] #30 closed

[2018-04-12 02:19] viniciosyals opened #32 "Duplicated identifier"
I need to use two types of copyright icon, regular and solid

In documentation both have the same name
![Documentation](https://i.imgur.com/1Wu4lVU.png)

In code too... This is causing an error in typescript linter
![In code](https://i.imgur.com/yI3Z7Fe.png)

Both exists in respectives packages

[2018-04-12 02:47] robmadole commented on #32
Try:

[code]

[2018-04-12 03:04] viniciosyals commented on #32
[code]
I know this is possible @robmadole, but this is the correct way? This is my question... Basicaly.

[2018-04-12 03:05] robmadole commented on #32
@viniciosyals this is the ES6 way to handle situations just like this. So yes, it's the _right_ way ;)

[2018-04-12 03:05] #32 closed

[2018-04-16 09:07] icecoldfire opened #33 "Symbols using SVG Sprites"
What is the correct way to implement [symbols using SVG sprites](https://fontawesome.com/how-to-use/performance-and-security)?

[2018-04-20 10:50] ibenjelloun opened #34 "Big impact on compilation time and the chunk size with the pro packages"
Importing only one icon from the pro packages, results in a 1MB plus in the bundles and 10 minutes additional compiling time.

Here is a minimal code to reproduce the issue :

`import { NgModule } from '@angular/core';
import { FontAwesomeModule } from '@fortawesome/angular-fontawesome';
import { library } from '@fortawesome/fontawesome-svg-core';

import { faCircleNotch } from '@fortawesome/pro-r

[2018-04-20 11:49] devoto13 commented on #34
Are you using the latest Angular CLI and FA packages? Do you use AoT or JiT compilation? There is an increase in the build time when using imports from main, but 10 minutes sounds like too much, normally I would expect 1-2 minutes. Also bundle size should only increase ~40K, when importing only 1 icon. Can you create a reproduction repository, where we can reproduce "Importing only one icon from t

[2018-04-20 13:11] ibenjelloun commented on #34
@devoto13 Thank's for your answer, I updated with a reproduction repo.
Deep imports reduce the compilation time, didn't test yet the impact on the chunk size.

[2018-04-21 03:55] tomgruszowski opened #35 "In-place-replace fa-icon with svg directly"
Is there a way to replace the generated markup so all you have is the svg tag?

Looking at using FA with Angular Material in as seamless & tree-shakable way as possible, and one approach is to embed fa-icon inside mat-icon tag, but much of materials styling is dependent on an svg tag being embedded as a direct ancestor of the mat-icon tag.

That is one option, the other is to use ng-fa to hook int

[2018-05-04 11:06] pradeeprajr93 opened #37 "RxJS peer dependency is failing with Angular 6 | Make it compatible with Angular 6"
As you all may know, **Angular 6 is out!**
When I try to update my angular 5 project to angular 6, getting following error on console.
`Package "@fortawesome/angular-fontawesome" has an incompatible peer dependency to "rxjs" (requires "^5.5.2", would install "6.1.0").
Invalid range: ">=4.0.0"`

Please try updating your rx-js dependency to above 6. #

[2018-05-05 01:46] samirllorente opened #38 "How to put a FontAwesome icon on a DataTable button through TypeScript?"
I'm using datatables and I want to create a button in the table, but instead of text I want to place an icon using fontawesome. I have the following code:

`this.dtOptions = { //... buttons: [ //... { extend: 'pdf', text: '<fa-icon [icon]="faDownload"></fa-icon>' } ] }`

[2018-05-05 04:47] MaklaCof opened #39 "Question: time-frame (first release date)"
Is there any time-frame for first official release?

I am checking this thread every day, but last month was really quite (no changes ...).

[2018-05-06 08:02] mateuszmrozewski commented on #34
I can also confirm that deep imports of every icon solved the problem, time is now 20 times shorter.

[2018-05-07 08:25] wartab commented on #38
Which datatables library are you using? Angular components are pre-compiled, you cannot just append components to HTML and expect those to be handled as components.

[2018-05-07 11:49] samirllorente commented on #38
For the tables I use https://datatables.net/
But you tell me that angular is a pre-compiled language, how could you pre-compile the icons and use them through TypeScript?

[2018-05-08 13:09] robbaman commented on #37
The "Invalid range: ">=4.0.0"" error seems to be an error related to the upgrade process. I had the same thing but then with TypeScript:

https://github.com/angular/angular-cli/issues/10683

and other people have similar issues:

https://github.com/angular/angular-cli/issues/10621

[2018-05-08 13:40] robbaman commented on #34
I have this same issue, but I use the `fontawesome-pro-solid` package (not the `pro-regular-svg-icons` package, which doesn't seem to exist according to the FontAwesome docs). Whenever I import and add just one icon to the library **all** icons from that package work with the `<fa-icon>` component.

The problem I'm facing however is that when I perform a deep import like this:

[code]

It works ju

[2018-05-09 20:13] robmadole commented on #34
@robbaman the `fontawesome-pro-solid` package is not compatible with `angular-fontawesome` because of this very issue.

Can you switch to the `pro-solid-svg-icons` package instead? See the `UPGRADING.md` guide for some helpful tips.

[2018-05-10 20:13] karptonite opened #41 "Transform with css?"
Is it possible to transform fontawesome icons with css using angular fontawesome? For example, I'd like to be able to define a class "active" that rotates all specified icons 90 degrees with a 0.2s transition. I could do that pretty easily with css when we were using glyphicons, but it for angular-fontawesome, the only way I've found to do it is with the "rotate" attribute, and I'm not sure how to

[2018-05-12 17:16] crhistianramirez commented on #37
#40

[2018-05-14 16:57] robmadole commented on #39
No time frame yet. We are waiting to make sure some other changes in the base library are good-to-go before we take this project out of the pre release stage.

[2018-05-14 18:38] robbaman commented on #34
I've updated my project using the steps specified in the `UPGRADING.md` file and while it does seem to work, the production build time for angular using `ng build --prod` has has gone up immensely. I haven't timed it, but I think it hangs at the step `92% chunk asset optimization UglifyJSPlugin` for at least a few minutes. After which the vendor chunk is up to 7.5MB.

Using deep links ea:

    imp

[2018-05-15 05:27] MaklaCof commented on #39
Sad to hear that. Maybe you should re-think how you handle resources.

It is nice to read about all the new icons you added with release [5.0.9](https://github.com/FortAwesome/Font-Awesome-Pro/pull/1059/files), [5.0.11](https://github.com/FortAwesome/Font-Awesome-Pro/pull/1089/files), [5.0.13](https://github.com/FortAwesome/Font-Awesome-Pro/pull/1101/files), but I (and probably others too) can not

[2018-05-15 07:53] devoto13 commented on #39
@MaklaCof Well, you can pretty much use pre-release version for several months already. I (and probably [many others](https://npm-stat.com/charts.html?package=%40fortawesome%2Fangular-fontawesome)) do it in our projects. It is quite stable, it has documentation. It is just that guys need more time to polish everything before they can declare it stable.

Is there any specific issue, which blocks yo

[2018-05-15 11:15] MaklaCof commented on #39
I know that I can use it for quite some time, I am tracking every change in this repository.

I didn't try it because I read in some other issue that is not production ready. My application is quite big and when I will migrate from 4 to 5 I need to know it will work. If it will not work, I can not merge it to my release version and if I can not merge it I will constantly get merge conflicts.

So I

[2018-05-15 15:46] feco93 opened #42 "Question: How to use with pseudo elements?"
How can I use this library with pseudo elements?
Unfortunately, I didn't see any example about it.

[2018-05-15 17:08] robmadole commented on #42
This component does not support pseudo elements but instead uses SVG.

[2018-05-18 20:37] robmadole commented on #41
@karptonite you should be able to use CSS with angular-fontawesome too. Is there a reason why this won't work?

[2018-05-20 17:27] k-schneider commented on #37
Is there an ETA on a release to support v6 at this point?

[2018-05-21 16:39] robmadole commented on #39
Hey @MaklaCof our next release will be 0.1.0. Once this happens, in our minds, this is production ready. We're close to this.

[2018-05-21 16:40] devoto13 commented on #37
Version `0.1.0-10` was recently released, which adds Angular 6 support. Please give it a try!

[2018-05-21 19:16] k-schneider opened #44 "Changelog?"
Any chance this project could adopt a CHANGELOG.md file so we can follow what updates are included in each new release?

[2018-05-22 16:57] piernik opened #46 "Default style prefix"
If I use `<fa-icon icon="coffee"></fa-icon>` it is translated to `fas-coffee` and I have only `far`.
Is there a default font style option?

If not maybe adding in `forRoot` config?

[2018-05-22 17:35] robmadole commented on #46
@piernik try `<fa-icon [icon]="['far', 'coffee']"></fa-icon>`. If you have any further trouble try posting here: https://stackoverflow.com/tags/angular-fontawesome

[2018-05-22 17:38] robmadole commented on #44
Yep, we'll get a CHANGELOG.md and a more official release process when the full version is released.

[2018-05-22 18:11] jfairley opened #47 "NPM artifacts without Github tags"
I'm currently using ver `0.1.0-8` of this library. So far `-9` and `-10` versions have been published to NPM, but there are no tags in Github to show what they represent and what has changed. Is this a bug in the publish process? I find the tags very handy to determine whether I should upgrade.

[2018-05-22 18:11] devoto13 commented on #44
@mlwilkerson was using [GitHub Releases](https://github.com/FortAwesome/angular-fontawesome/releases) to publish changelog in the past.

[2018-05-22 19:45] dottodot opened #48 "Icon size server side rendering universal"
When using universal for ssr the page loads the icons full size until the browser takes over, the reason for this is the inline styles are missing from the the universal app.

I'm not entirely sure why this is but it should be possible to include them as other modules such as material do.

[2018-05-23 00:11] devoto13 commented on #48
It has the same root cause as https://github.com/FortAwesome/angular-fontawesome/issues/18 - FA inserts styles using custom JS, so Angular server side rendering is not aware about them. Until it is fixed you can include `style.css` from `@fortawesome/fontawesome-svg-core` package in your global styles to workaround the issue.

[2018-05-23 10:49] devoto13 commented on #46
@piernik I think this is good idea and it will be easy to implement in the `angular-fontawasome` library without affecting core.

[2018-05-24 23:27] rapropos commented on #33
Can't speak to "correct", but the following seems to work for me:

[code]

[2018-05-25 08:11] DaSchTour opened #49 "Set default prefix/style"
Currently all icons are taken from fas by default. I would like to only use the light icons for my project and would like to configure this while loading the module. This would avoid a lot of boilerplatte by not adding the fal prefix to all icons.

I think this is caused by the fact, that instead of using ngOnInit the first ngOnChanges is used, that runs before ngOnInit.

[2018-05-25 08:18] MaklaCof commented on #49
This is somehow duplicate to #46.

[2018-05-25 09:15] DaSchTour opened #50 "Support Async Pipe for the icon attribute"
When using something like this `<fa-icon [icon]="icon | async"></fa-icon>` the component crashes on the first emit of null and doesn't go on if the icon changes in a later state. I would be nice if the component would not throw errors on null icons and just show the not available placeholder or something similar.

[2018-05-25 14:42] robmadole commented on #47
Yep, we just missed these during the release process.

[2018-05-29 10:54] MurhafSousli commented on #34
same here https://github.com/MurhafSousli/ngx-sharebuttons/issues/280

![screenshot-127 0 0 1-8888-2018 05 22-12-13-43](https://user-images.githubusercontent.com/15793624/40353373-0c18d22a-5dba-11e8-8946-34215454b05a.png)

[2018-05-29 13:51] mlwilkerson commented on #34
@robbaman Yes, I've been working on that "92% issue", as has @devoto13. For now, a workaround is to swap out UglifyJS for Babel Minify. See my reproduction and discussion of this over in the [uglifyjs-webpack-plugin repo.](https://github.com/webpack-contrib/uglifyjs-webpack-plugin/issues/272#issuecomment-392270741).

[2018-05-30 08:37] robbaman commented on #34
@robmadole You mentioned switching to the `pro-solid-svg-icons` according to the `UPGRADING.md` document which I did (and it works ok now), but I'm still a bit confused about which package does what.

According to the documents at https://fontawesome.com/how-to-use/use-with-node-js the correct npm package to use is the `fontawesome-pro-solid` package. Looking at the NPM registry this last package

[2018-05-30 13:05] mlwilkerson commented on #34
@robbaman `pro-solid-svg-icons` is the name of the new icon pack under the forthcoming 5.1 release. It's in preview now. That icon package used to be called `fontawesome-pro-solid` under 5.0. Some significant drivers of the 5.1 release are how we package these JavaScript modules to improve tree-shaking and TypeScript support. This `angular-fontawesome` component, in particular, is built to work wi

[2018-05-30 13:12] mlwilkerson commented on #34
@robbaman Is there something (like a new icon?) in the 5.0.13 release of `fontawesome-pro-solid` that you can't get from the most recent release of `pro-solid-svg-icons`? If so, that might indicate that we overlooked updating our 5.1 pre-releases when issuing the last 5.0 release. Normally, we re-release the preview packages when we add icons to the 5.0 branch so that they remain caught up.

[2018-05-30 15:31] #49 closed

[2018-05-30 16:06] mlwilkerson commented on #34
Ah, the package-forest, which grows ever more deep...and dark.

[2018-05-30 23:33] pathurs opened #51 "[listItem]="true" should add 'fa-li' class to the <fa-icon> component, not the inner SVG"
Comparing adding class="fa-li" to <fa-icon> or using [listItem]="true", the icon becomes misaligned vertically:

[code]

![image](https://user-images.githubusercontent.com/3084995/40752998-68cb926c-64b5-11e8-8c3f-85a38aaa5c1d.png)

[2018-05-31 06:41] robbaman commented on #34
We totally should get an icon for that! But for now I'll stop spamming this useful topic with my ignorant questions...

[2018-05-31 14:57] robmadole commented on #51
We might want to deprecate the `listitem` prop altogether (we plan to do this in [React](https://github.com/FortAwesome/react-fontawesome/issues/85) and [Vue](https://github.com/FortAwesome/vue-fontawesome/issues/61)). The CSS for this is dependent on `fa-ul` which means it needs to apply outside of the icon. And as you've discovered the `fa-li` needs to happen on the parent of the icon. [This was

[2018-05-31 15:00] robmadole commented on #50
@DaSchTour this is the first time I've seen `| async`. What is that exactly?

[2018-05-31 15:01] robmadole commented on #50
Oh, nevermind. I found it. The `AsyncPipe`. :+1:

[2018-05-31 15:17] devoto13 commented on #51
I'm pretty sure you can achieve same effect (vertically aligned icons) by using `[fixedWidth]="true"`.

@robmadole is there any reason to support a dedicated way for aligning icons in the <li> element, while there is a more generic way available?

[2018-05-31 16:09] robmadole commented on #34
@robbaman we aren't updating the `latest` tag for those packages like we need to. I just updated those so an `npm outdated` should pick it up.

[2018-05-31 16:20] robmadole commented on #51
@devoto13 yeah, there is some special work that has gone into making `fa-ul` and `fa-li` work together and "do what you would expect". I remember Dave and I going back and forth for a few days as we cross-browser tested and really honed those. They are worthwhile to have but not worthwhile to support in the `angular-fontawesome` component.

[2018-06-01 06:28] piernik commented on #46
Glad to hear it

[2018-06-01 09:03] pathurs commented on #51
Is there a reason you can't add 'fa-li' to the host element? Is it something to do with how you're creating this package?

[2018-06-01 13:38] robmadole commented on #51
It's not a pattern that we want to rely on @pathurs.

[2018-06-01 14:45] kolkov opened #52 "Using directly in my Angular 6+ library?"
Hi! I create native wysiwyg editor for Angular 6+ https://github.com/kolkov/angular-editor.
Is a good idea to include this module directly in my Angular 6+ library?

[2018-06-02 18:37] tomgruszowski opened #53 "Expose SVG XML in IconDefinition/IconLookup"
Trying to use FA with Angular Material and their SVG library expects the complete SVG XML element. That implementation seems to make sense, how can I get the SVG from a FA import?

import { faGoogle } from '@fortawesome/free-brands-svg-icons';

faGoogle is a IconDefinition, in order to get the SVG XML I have to re-compose this using something like:

`const svg =
<svg xmlns="http://www.w3.org/2000/

[2018-06-02 19:35] devoto13 commented on #53
@tomgruszowski I think you are looking for `icon` method from `@fortawesome/fontawesome-svg-core` package.

[2018-06-03 03:28] tomgruszowski commented on #52
@kolkov why not? this is tree shakable which is extremely compelling over the font based solution.

Take a look at [ngx-sharebuttons](https://github.com/MurhafSousli/ngx-sharebuttons) as he did this a month or so ago, allowing both font and svg based icons.

[2018-06-04 14:12] robmadole commented on #52
@kolkov sure. If this is useful to you include it. That's why we made it :)

[2018-06-04 14:12] #52 closed

[2018-06-05 10:53] kolkov commented on #52
I was wondering if there would be conflicts if the user also added a library to his project? or connect through the network?

[2018-06-08 05:18] scttcper commented on #37
This is working.

[2018-06-08 13:30] mlwilkerson commented on #34
For others who hit the `92% chunk asset optimization UglifyJSPlugin` problem, please see [terser#50](https://github.com/fabiosantoscode/terser/issues/50). There was a performance regression in `uglify-js`/`uglify-es`/`terser` that impacts JS modules having a format like our icon packages. There's also a patch there that you could try out to see if it solves your problem.

[2018-06-08 14:38] robmadole commented on #52
If someone is already using Font Awesome 4 there could be a conflict, @kolkov

[2018-06-14 08:59] MaklaCof commented on #37
Shouldn't be this issue closed?

[2018-06-14 15:32] MaklaCof opened #56 "Error when adding icons from PRO"
I found out strange behaviour when migrating from FA4 to FA5. I thought I had some strange code so I started new ASP.NET Core Angular template and repeat strange behaviour:
This code works:
[code]
If I also add `faCalendar` to library, icon is displayed.

But adding icon from PRO shows errors (but Angular is compiled and page is displayed):

![2018-06-14_17-28-07](https://user-images.githubusercon

[2018-06-14 16:38] robmadole commented on #56
Try `@fortawesome/pro-regular-svg-icons`, `@fortawesome/pro-light-svg-icons`instead @MaklaCof . Those packages you are using are the old one (which will be deprecated soon).

[2018-06-14 17:50] #37 closed

[2018-06-15 04:22] MaklaCof commented on #56
Hi @robmadole
I follow [this](https://fontawesome.com/how-to-use/js-component-packages) and [this](https://fontawesome.com/how-to-use/use-with-node-js) documentation. Just hint for FortAwesome to fix. :)

It looks like strange behaviour when all icons are included is also gone.

[2018-06-15 04:22] #56 closed

[2018-06-21 04:07] choopage opened #57 ""export 'FontAwesomeModule' (imported as 'i97') was not found in '@fortawesome/angular-fontawesome'"
Did anyone get this issue when using angular-fontawesome with Angular 6?

![screen shot 2018-06-21 at 12 05 05 pm](https://user-images.githubusercontent.com/6467136/41697471-8aa533d8-754b-11e8-973b-cef60f736b70.png)

![screen shot 2018-06-21 at 12 06 24 pm](https://user-images.githubusercontent.com/6467136/41697472-8cb80204-754b-11e8-87a5-b6ed351ff589.png)

![screen shot 2018-06-21 at 12 08 41 pm]

[2018-06-21 04:07] travis1234 commented on #57
yep i'm getting the same problem.

[2018-06-21 04:12] choopage commented on #57
@travis1234  you are totally right. Reverted as seen here. Problem fixed.

![screen shot 2018-06-21 at 12 11 41 pm](https://user-images.githubusercontent.com/6467136/41697656-5381c366-754c-11e8-9373-469af16d763e.png)

[2018-06-21 08:08] bjornharvold commented on #57
Same issue.

[2018-06-21 09:11] dottodot commented on #57
I'm having the same issue too, had to revert back.

[2018-06-21 12:48] PyArchitect commented on #57
Same problem.

[2018-06-21 14:49] devoto13 commented on #57
The root cause seems to be that it is not using correct `tsconfig.json` for build. Relevant issues is https://github.com/dherges/ng-packagr/issues/915. Probably needs to be added [here](      .forProject(join(process.cwd(), 'src/package.json'))), but it looks like `tsconfig.json` itself need to be adjusted as well. If anybody want to give it a shot - you're welcome. Otherwise I'll try to create a

[2018-06-21 18:00] mlwilkerson commented on #57
Thanks @devoto13. I'll add a note to the current README for the moment to direct any newcomers to use `0.1.0-10` until we get it resolved.

[2018-06-22 13:33] #57 closed

[2018-06-22 19:58] charry0821 opened #61 "Error in angular 'was not found' FontAwesomeModule"
Hi
I have the next problem:

"export 'FontAwesomeModule' was not found in '@fortawesome/angular-fontawesome'

This problem appear when i import the module in the app.mudule.ts and this error dont allows run the application, when i go to import in the module does not show alerts or error in the app.module.ts but when i go run ng serve spear the before error and dont show nothing in the browser.

Th

[2018-06-22 20:24] mlwilkerson commented on #61
This is probably a duplicate of #57 . If so, we have a fix already in `master` via #59. Once we get the docs wrapped up in #60 we'll release a new npm package version.

TL:DR; downgrade to the pre-release of this component `0.1.0-10` for now.

[2018-06-22 20:24] #61 closed

[2018-06-22 20:46] charry0821 commented on #61
Yes, that is the solution. Thanks @mlwilkerson

[2018-06-23 07:14] lawchihon commented on #47
Will it be possible to add them back?

[2018-06-26 00:25] xalhera opened #62 "Unexpected value 'undefined' imported by the module 'xxx'"
### Describe the problem

After  upgrading the NPM package "@fortawesome/angular-fontawesome" to 0.1.0, an error appears with the message :

**Unexpected value 'undefined' imported by the module 'xxx'**
(where 'xxx' is the name of the module where **FontAwesomeModule** is imported)

### What did you expect?

I expected that I could compile my project after ugrading the package "@fortawesome/angula

[2018-06-26 02:04] EvilJimJafar commented on #62
+1

[2018-06-26 03:14] fchiumeo commented on #62
see #57

[2018-06-26 13:52] TheBoneJarmer opened #63 "icon not found ng-build"
For the past hours I have been breaking my head on something pretty frustrating. Out of nowhere when I build my angular app and publish my website to azure the icons are missing! This did not happen last week for sure, I don't get it. It does work just fine when I use ng-serve and run the site locally but when I try to publish it it is as if all icons are gone... The command I use for building the

[2018-06-26 17:02] mlwilkerson commented on #62
Yeah, I'm wrapping up the `0.1.1` release now, so I expect this to be resolved today.

[2018-06-26 18:31] mlwilkerson commented on #62
OK, `0.1.1` is out. Update and see how that works.

[2018-06-26 18:31] #62 closed

[2018-06-26 18:32] mlwilkerson commented on #44
CHANGELOG.md is happening. Just released `0.1.1` with one.

[2018-06-26 18:32] #44 closed

[2018-06-26 18:33] mlwilkerson commented on #47
Just published `0.1.1` with GitHub tagging, using our latest documented release process.

[2018-06-26 18:33] #47 closed

[2018-06-27 03:39] EvilJimJafar commented on #62
Works for me now, thanks.

[2018-06-27 16:34] RushuiGuan opened #65 "@fortawesome/Angular-FontAwesome doesn't work within an Angular 6 Library"
I am trying to run the Explicit reference code example within an Angular 6 library.  It doesn't compile and here are the build errors.
[code]
Please note that it works for an application but not a library.  The library is generated using the following command:
[code]

Thanks

-Rushui

[2018-06-27 21:52] robmadole commented on #63
What version of angular-fontawesome are you using? Can you give us the site URL?

[2018-07-02 06:56] erdalceylan opened #66 "FontAwesome: Could not find icon with iconName=user-circle and prefix=fas"
import {faUserCircle} from '@fortawesome/free-regular-svg-icons';
library.add(faUserCircle);
//console output
FontAwesome: Could not find icon with iconName=user-circle and prefix=fas

//other icons is works

[2018-07-02 07:08] erdalceylan commented on #66
i found thank you, forget prefix
<fa-icon [icon]="['far','user-circle']" ></fa-icon>

[2018-07-02 16:02] kirakishin commented on #65
Hello @RushuiGuan ,

i have the same problem, but i haven't any error shown.
my console shows only and nothing append :
`92% chunk asset optimization UglifyJSPlugin`

how do you show the error, my main tsconfig file is  :
[code]

but after many tests, it appears that my build is extremely slow (5min) when i add icon to the library..

[2018-07-02 16:07] mlwilkerson commented on #65
The 92% thing is almost certainly caused by this [known issue](https://github.com/fabiosantoscode/terser/issues/50) in the minifier used for production builds in Webpack 4. The root cause has been fixed, but not yet integrated and released in Webpack 4. We have [some workarounds](https://fontawesome.com/how-to-use/with-the-api/other/tree-shaking) for you to try in the mean time.

[2018-07-02 16:13] mlwilkerson commented on #65
@kirakishin I think my previous comment mostly addresses your scenario, based on your observation of the 92% thing.

But @RushuiGuan, your issue seems different. I don't recall whether we have any integration tests for adding this library to another Angular library. Normally our library is added to an app.

@scttcper or @devoto13: do you know what might be different or problematic in the build con

[2018-07-02 16:46] scttcper commented on #65
Looks like its coming from `fontawesome-common-types`. would need to see the library code as well

[2018-07-02 18:33] RushuiGuan commented on #65
The workaround is to add `import {IconDefinition } from '@fortawesome/fontawesome-common-types';` to any ts file that has icon declarations.  Not ideal, but it works.

@scttcper the code below in a library will cause the compile error when the TestComponent is declared  in a module.
[code]

[2018-07-02 18:42] devoto13 commented on #65
IIRC it is a TypeScript limitation, when emitting declaration (i.e. `declaration: true` is set in the `tsconfig.json`. https://github.com/Microsoft/TypeScript/issues/5711 is a relevant issue. I don't think anything is broken in the FA library, it's just how TypeScript works.

The workaround is to add explicit type annotation to the property (which in turn ensures that there is an import statement

[2018-07-03 07:37] kirakishin commented on #65
@mlwilkerson thanks a lot! now it takes 35 sec :)

[2018-07-03 13:02] RushuiGuan commented on #65
Thanks devoto.  I will mark this as resolved.

[2018-07-03 13:02] #65 closed

[2018-07-03 14:57] erdalceylan opened #67 "long compile time"
library.add(faPaperPlane, faGlobeAmericas, faSmile, faLaugh, faGrin, faGift, faTrash, faImages, faUserCircle, faEdit,faAddressCard, faGooglePlusG, faTwitter, faFacebookF, faSearch);
Time: 769431ms
12.82385 minute

[2018-07-03 15:36] fchiumeo commented on #67
[#65](https://github.com/FortAwesome/angular-fontawesome/issues/65#issuecomment-401856551)

[2018-07-03 18:24] mlwilkerson commented on #67
Thanks @fchiumeo. You beat me to it.

Yes, @erdalceylan. Your compile time issue is almost certainly the same problem, a performance regression in `uglify-es` / `terser`. See my comments on #65.

[2018-07-03 18:24] #67 closed

[2018-07-04 06:15] erdalceylan commented on #65
import { faEdit} from '@fortawesome/pro-light-svg-icons/faEdit';
import { faAddressCard} from '@fortawesome/pro-light-svg-icons/faAddressCard';

library.add(faEdit, faAddressCard);

works for me thank you @mlwilkerson

[2018-07-04 19:33] hlohrenz opened #68 "Couldn't find package "@fortawesome/angular-fontawesome" on the "npm" registry."
I am trying to add this package in a new project of mine and I get a 404. Sometimes, I will get a 404 as well.

This is the command I'm running:

`yarn add @fortawesome/angular-fontawesome`

Which is right on the homepage. Is anybody else experiencing this problem? I also had a previous project that had this and ran `yarn install`. This is my package.json file:

[code]

This is the error I get whe

[2018-07-11 08:22] lapongua opened #69 "Not find icon fab-facebook"
Hello,

¿how to use `<i class="fab fa-facebook-f"></i>`?

thanks.

[2018-07-14 14:01] lacroixdavid1 commented on #68
Try to use `"@fortawesome/angular-fontawesome": "0.1.1"`

[2018-07-16 08:22] rurziceanu opened #71 "Load icons by passing the string name and prefix as parameter from the component ts file"
Hello,
I load the Icon name from the server, and pass it as a parameter..
Something like this:

src/app/app.component.ts

@Component({
  selector: 'app-root',
  templateUrl: './app.component.html',
  styleUrls: ['./app.component.css']
})
export class AppComponent {
  iconName: string = 'coffee';
  iconPrefix: string = 'fas'
}

and then in html

src/app/app.component.html

  <fa-icon [icon]="[iconP

[2018-07-16 12:45] devoto13 commented on #71
This is because component only accepts fixed set of strings and not any string for icons name and prefix. If you use same types in your AppComponent properties the error should go away.

[code]

[2018-07-16 16:08] rurziceanu commented on #71
Great! thx for the help 👍

[2018-07-16 19:05] rurziceanu opened #72 "Create icon component dynamically and append it to element"
Hello,
I'm trying to create a dynamic icon component and append it to an element.

I have a directive that creates a badge with an icon on an element

import { icon } from '@fortawesome/fontawesome-svg-core';
import { FaIconComponent } from '@fortawesome/angular-fontawesome';

constructor(
    private viewContainerRef: ViewContainerRef,
    @Inject(ComponentFactoryResolver) private factoryResolver

[2018-07-17 02:48] robmadole commented on #68
@hlohrenz are you still experiencing this error?

[2018-07-17 22:11] geo242 commented on #63
I am having the same issue. [Here is a link to the deployed version](http://oybnl.staging.v2.iverticle.net/admin_angular)

You don't need to log into this site to see the console log errors.

[2018-07-18 18:39] FelipeMicali commented on #48
I've tried copying all styles from @fortawesome/fontawesome-svg-core in a .scss file that is served inline in my main component, like this:

[code]

and in app.scss:
`@import 'font-awesome-styles';`

All styles are pre-rendered and served inline, but the initial icons are stil being rendered in full size...

Did anyone could solve this problem?

Thanks!

[2018-07-18 20:07] devoto13 commented on #48
@FelipeMicali When you include styles this way they are subject to component's view encapsulation and therefore will work only for elements defined in the template of AppComponent. Please include styles globally as described in [this story](https://github.com/angular/angular-cli/wiki/stories-global-styles).

[2018-07-19 07:40] DaSchTour commented on #18
I think the bigger issue here is, that font-awesomes JS is tightly coupled to DOM. It would make things a lot easier if the "rendering-engine" could be injected depending on the context. It would just need a small abstraction layer that manages all DOM operations of font-awesome. This would allow the usage of frameworks specific rendering functions to be used and so angular could get awareness of

[2018-07-19 14:22] veluria commented on #72
I have a very similar issue where I'm adding an icon via `innerHtml` and nothing is being displayed. I guess the icon library doesn't detect this change. Can I somehow make it rescan the template for icons?

[2018-07-20 12:49] CmajSmith opened #73 "Problem with inline styling due to not passing the CSP"
Hello.
I'm using Angular 6 along with angular-fontawesome.

After general setup everything works perfect locally, but once deployed to production the icons aren't styled properly and I get the error in console:

[code]

nginx configured the way it sends a header like:
[code]

So the question is: can I avoid fontawesome inline styles to be inserted into the page and somehow include 'em into a separ

[2018-07-20 17:21] robmadole commented on #73
@CmajSmith you can disable inline styles using a configuration.

https://fontawesome.com/how-to-use/with-the-api/setup/configuration (check `autoAddCss`)

You can then include the CSS from `@fortawesome/fontawesome-svg-core/styles.css`. :+1:

[2018-07-20 17:46] CmajSmith commented on #73
@robmadole absolutely spot on. Thx a lot!

[2018-07-20 17:46] #73 closed

[2018-07-21 19:17] BigSakoLol opened #74 "Stacking icons"
According to offical guide, you can stack icons like below

[code]

How can I do this with this library?

[2018-07-23 16:10] mlwilkerson commented on #34
Looks like Webpack [will be released this week](https://github.com/webpack/webpack/issues/7742#issuecomment-406294524) with `terser` instead of `uglify-es`, which should include the fix for this. In the meantime, another potential work around (for `yarn` projects) is suggested [here](https://github.com/fabiosantoscode/terser#replacing-uglify-es-with-terser-in-a-project-using-yarn).

[2018-07-23 16:12] #39 closed

[2018-07-23 16:12] #66 closed

[2018-07-23 16:13] #42 closed

[2018-07-24 13:51] robmadole commented on #63
@TheBoneJarmer can you provide a reproducible example?

@geo242 I'm not seeing anything in the console. What should I be looking for?

[2018-07-24 14:06] TheBoneJarmer commented on #63
Hi @robmadole
I am very sorry for the late reply! My colleague managed to fix the issue because it seemed the imports were not being executed, however, I cannot provide an example at the moment unfortunately to show the difference. Sorry for that.

[2018-07-24 14:12] robmadole commented on #18
@DaSchTour the tight coupling is an issue, agreed.

So there are a couple options for this. We are going to run into this with Vue, React, Ember, etc. So let's see if we can solve it in a framework-agnostic way.

We already have a "rendering engine". It's the [`fontawesome-svg-core`](https://fontawesome.com/how-to-use/with-the-api/methods/icon). It provides the concept of an "abstract" shape or re

[2018-07-24 14:15] robmadole commented on #72
@rurziceanu if you can provide a reproducible test case for this we can take a look. You can use
https://stackblitz.com/edit/angular-z8v4ux to jump-start you.

[2018-07-24 14:19] robmadole commented on #74
Check out the "Layers" section @BigSakoLol.

https://github.com/FortAwesome/angular-fontawesome#examples

[2018-07-24 14:19] #74 closed

[2018-07-24 14:33] robmadole commented on #63
no worries!

[2018-07-24 14:33] #63 closed

[2018-07-24 15:02] juliusstoerrle commented on #18
I think proposal 1 is perfect. Maybe the styles.css file can be optimized a little by removing the webkit prefix (eg. for transform, as it seems not required, checked with caniuse.com)?

In Angular CLI we can just add the script to the apps build configuration and it will automatically be included into the webpack build process. That can potentially even be done with a schematic to ease the setup.

[2018-07-24 20:33] arajay commented on #41
once the DOM has loaded, the <fa-icon> will be replaced with the inline <svg>; at this point adding an "active" class to the <fa-icon> will not have any effect on the SVG.

as i understand it this is why "power transforms" were introduced but I have been unable to get them to work with the angular package.

https://fontawesome.com/how-to-use/on-the-web/styling/power-transforms

[2018-07-24 20:37] arajay opened #75 "Power Transforms Have No Effect"
Using power transforms (as documented [here](https://fontawesome.com/how-to-use/on-the-web/styling/power-transforms)) with Angular-Fontawesome doesn't seem to have any effect.

Example:
`<fa-icon icon="caret-down" data-fa-transform="rotate-180">`
The caret still points down.

[2018-07-24 20:48] robmadole commented on #75
Hey @arajay. Please check the docs again: https://github.com/FortAwesome/angular-fontawesome

[2018-07-24 20:48] #75 closed

[2018-07-26 01:23] FelipeMicali commented on #48
@devoto13 yes, I've noticed the component's view encapsulation behavior and to solve it I've included all those styles inline in my maind Angular index.html. But I'm going to take a look at the link you provided and implement this method to make my application more functional.

Thanks!

[2018-07-26 06:18] piernik commented on #46
any updates?

[2018-07-27 09:57] veluria commented on #72
@robmadole Not @rurziceanu, but here is an example of my issue, which should be pretty similar/related: https://stackblitz.com/edit/angular-7fiawb

[2018-07-27 16:39] devoto13 commented on #72
@veluria No, you can not do this because of how [Angular framework works](https://stackoverflow.com/questions/40473910/how-to-dynamically-add-innerhtml-with-angular-2-components). @rurziceanu's [approach](https://netbasal.com/dynamically-creating-components-with-angular-a7346f4a982d) is correct.

The missing piece is that FaIconComponent renders icon on change of inputs, but Angular does not call

[2018-07-27 16:41] veluria commented on #72
@devoto13 Thanks a lot for the example.

[2018-08-07 12:29] maxisam opened #76 "Stacking position"
[code]

I don't understand why faChevronLeft is not in the center. Currently I use right-3 to adjust it but it is kinda weird. I check the code, it seem like the width of the faChevronLeft is only half of the width of faCircle.

Thanks!

[2018-08-07 13:58] maxisam commented on #76
I think it is because there is no size input for fa-layers. So text:center doesn't really work when I have a 4x size on icon.

[2018-08-07 14:39] maxisam opened #77 "layering with text"
![image](https://user-images.githubusercontent.com/456807/43782724-97661ad4-9a25-11e8-9d9f-6ee3b18810e2.png)

How to create an icon like this with layer?

I can put bars with text together but the space between bars is too wide. any suggestion ?

I wonder if I can just do something to make it scale (1 0.5) ?

My current solution is using css to control it. I wonder if there is any build-in solutio

[2018-08-09 08:01] JesperBalslev commented on #72
This is my issue also, i tried looking at the working example, but does not work here.

I have an add button, which adds this icon dynamically:

[code]
This works fine while testing, and live reloading etc. But when i go to build with --prod, all other font awesome icons work fine, but the ones i add like this... does not.

I tried to add detectChanges to my method, kinda like in the example. But

[2018-08-09 08:47] icecoldfire opened #78 "Error when building with --watch and --aot flags"
When the cli pick-ups and file that was changed I get the following error:

ERROR in ./src/app/app.module.ngfactory.js
Module not found: Error: Can't resolve '@angular/router.ngfactory' in '\ClientApp\src\app'
ERROR in ./src/app/core/buttons/btn-save.component.ngfactory.js
Module not found: Error: Can't resolve '@fortawesome/angular-fontawesome.ngfactory' in '\ClientApp\src\app\core\buttons'
ERROR

[2018-08-09 08:54] icecoldfire commented on #78
Angular version 6.1.2 gives the error when using version 6.0.9 everything works.

[2018-08-09 09:53] Neofish22 commented on #78
I am having the same issue. I've spent some time trying to find a cause but haven't had any luck. Notably, the build succeeds the first time, but fails on any successive build from --watch. I have enabled options for additional type checking, etc. I'll provide details/logs/confs and I'll try to make a reproduced repo, tomorrow.

[2018-08-10 08:02] Neofish22 commented on #78
I started working through creating a repo to reproduce the bug. Initially I did get errors as in your OP. I added another, different module to check it wasn't an issue with Angular rather than FontAwesome. I continued to get the same style of errors. However, after switching between enabling FontAwesome and the other module, the errors stopped entirely for FontAwesome (but not for the other). I am

[2018-08-10 14:16] robmadole commented on #76
@maxisam yeah you are putting these icons in a container that is just too tiny.

Try this (add `fa-4x` to the layers):

[code]

[2018-08-10 14:16] #76 closed

[2018-08-10 14:31] robmadole commented on #76
Yeah that's a pretty good idea. Going to add a feature request.

[2018-08-10 14:31] robmadole opened #79 "Add size and fixedWidth attribute to fa-layers component"
See #76

Done when `fa-layers` can do this:

[code]

[2018-08-11 06:05] paustint commented on #77
@maxisam - while I don't think it is perfect, I was able to get something somewhat close using OOB functionality.

![image](https://user-images.githubusercontent.com/5461649/43988789-2b359b78-9cfa-11e8-8e01-225c3a4b3439.png)

[code]

[2018-08-11 14:17] devoto13 commented on #78
@Neofish22 I tried to run your reproduction and was unable to reproduce compilation error.

Here is what I did:
1. Cloned the repro.
2. `ng serve --watch`
3. Edited templated of the `AppComponent`.

Both initial build and re-build after the change were successful.

[2018-08-11 15:04] icecoldfire commented on #78
Could you retry step 2 with: ng build --aot --watch instead of ng serve?

[2018-08-11 15:12] devoto13 commented on #78
@icecoldfire Nope, still builds correctly.

<details>
  <summary>The versions of the packages I have</summary>

[code]

</details>

[2018-08-11 15:31] Neofish22 commented on #78
My reproduction actually fails to reproduce it. It did during creation but
then stopped.

You might be able to follow the steps I detailed in the readme.
Unfortunately I don't have the time to try further at the moment.

On Sat, 11 Aug 2018, 17:12 Yaroslav Admin, <notifications@github.com> wrote:

[2018-08-11 19:12] idwebmedia opened #81 "Missing Creative Commons Zero"
FontAwesome: Could not find icon with iconName=creative-commons-zero and prefix=fab

[2018-08-13 12:05] mimopo commented on #78
Same problem here:

[code]

[2018-08-13 13:01] devoto13 commented on #78
The symptoms look very similar to https://github.com/angular/angular/issues/25424, so probably the root cause is in Angular itself, not angular-fontawesome.

[2018-08-14 05:55] mimopo commented on #78
Thanks!

Yes, It's seems to be an Angular problem. After downgrade all the angular components from 6.1.2 to 6.1.1 it works. I'll keep them fixed for the moment.

[code]

[2018-08-14 21:59] jlopezjuy commented on #68
i have the same error:
@fortawesome/angular-fontawesome": "0.1.1",
        "@fortawesome/fontawesome-svg-core": "1.2.2",
        "@fortawesome/free-solid-svg-icons": "5.2.0",

`npm WARN deprecated uws@9.14.0: stop using this version
npm ERR! code E401
npm ERR! 401 Unauthorized: @fortawesome/angular-fontawesome@0.1.1

npm ERR! A complete log of this run can be found in:
npm ERR!     /home/jlopez/.n

[2018-08-15 11:53] jlopezjuy opened #82 "Error on npm install angular-fontawesome"
Hello, i have an error when im trying to run npm install

`ERR! code E401
npm ERR! 401 Unauthorized: @fortawesome/fontawesome-svg-core@1.2.2
`
It's my package.json
[code]

and the error log:

[code]

I hope you helpme.

[2018-08-15 16:30] #79 closed

[2018-08-16 08:58] oleksiipotiekhin opened #83 "@fontawesome/schematics"
**Describe the solution you'd like:**
Is there a possibility to add **@fontawesome/schematics** for angular? To use `ng add fontawesome` or `ng add @fontawesome/schematics` to combine fontawesome and angular. It will improve integration experience.

[2018-08-18 01:06] paustint commented on #82
@jlopezjuy you will need to make sure that you setup your key for npm as mentioned here: https://fontawesome.com/how-to-use/on-the-web/setup/using-package-managers

Create a file named `.npmrc` and add the following to the contents:
[code]

From there you should not get 404's

[2018-08-18 22:37] dalu opened #85 "fa-layers-counter, how do you make it bigger?"
your example
[code]
the counter is red and tiny.

How can I style it and also make it bigger?
(inb4 that's what she said)

[2018-08-20 13:46] robmadole commented on #85
@dalu throw a screenshot in here. It's probably by design but we'll double-check.

[2018-08-20 13:55] lucboutier commented on #85
One of my colleagues had the same issue see screenshots (tiny is default, larger with workaround below)

[code]

[code]

HTH

<img width="30" alt="capture d ecran 2018-08-20 a 15 52 01" src="https://user-images.githubusercontent.com/1510790/44344459-0bcd0980-a491-11e8-909c-b1d4be46a4db.png">
<img width="35" alt="capture d ecran 2018-08-20 a 15 52 19" src="https://user-images.githubusercontent.com/

[2018-08-20 16:09] lucboutier opened #86 "Svg mask on safari fails when base href is defined"
Hi,

Mask rely on svg url based reference which seems to cause issues with the <base href="/"> tag.

I found some information that describe the problem here angular/angular.js#8934 and here airbnb/lottie-web#360

I tried to find a workaround using APP_BASE_HREF and some generation features of angular cli but didn't managed to get anything working for both my prod and dev env. I guess that the solu

[2018-08-24 07:14] jmdmao commented on #56
@MaklaCof Same "problem" with @fortawesome/free-brands-svg-icons.

[2018-08-24 07:15] jmdmao commented on #56
@robmadole same "problem"with @fortawesome/free-brands-svg-icons.

[2018-08-24 09:45] dalu commented on #85
Sorry for the late reply, been enjoying the last days of summer at the beach. I'll probably get around to try it this weekend. Will let you know how it worked and also provide a before/after screenshot.

[2018-08-28 13:59] devoto13 commented on #26
TOC was added by https://github.com/FortAwesome/angular-fontawesome/commit/87c66c7c961fb9d621a2ca81fd84101dc9b2ba94.

[2018-08-28 13:59] #26 closed

[2018-09-03 22:50] devoto13 commented on #35
I don't think you need `angular-fontawesome` for this specific use-case. Looks like Material added support for setting icon as trusted SVG strings. I would recommend to use `icon` function from `@fortawesome/fontawesome-svg-core` package to render icon into a string and than pass this string to Material.

`angular-fontawesome` also uses `@fortawesome/fontawesome-svg-core` under the hood to render

[2018-09-04 01:37] tomgruszowski commented on #35
Thanks @devoto13, already following your suggestion ever since Material team added that support. Only difference is I was doing this a bit more manually in that I was creating the outerXML and tokenizing the icon vectors via fa icon import, will look into your suggestion to do this more cleanly.

Link to my solution:
https://github.com/angular/material2/issues/11630

Something like this:
 const sv

[2018-09-04 01:37] #35 closed

[2018-09-04 10:14] devoto13 commented on #35
@tomgruszowski Your approach also has its advantage: no extra library in the bundle :)
And it totally works when you only need original icons.

The main advantage of `fontawesome-svg-core` approach is that you can use all features of the FontAwesome SVG framework, e.g. transformation, rotation, mask, etc.

[2018-09-04 10:49] devoto13 commented on #38
As pointed above that's not how Angular works. You can not insert Angular components as text in arbitrary place and expect it to work.

@samirllorente There is too much information missing to assist you efficiently. Depending on factors it may be better to either use `ComponentFactoryResolver` approach described above, render icon to SVG string (see https://github.com/FortAwesome/angular-fontaweso

[2018-09-04 10:49] #38 closed

[2018-09-04 11:07] devoto13 commented on #50
Reproduced here: https://stackblitz.com/edit/angular-z8v4ux-memw8j

[2018-09-04 11:12] devoto13 commented on #69
@lapongua Please check [Usage section](https://github.com/FortAwesome/angular-fontawesome#usage) in the project REAME file for information on how to use this library.

Demo: https://stackblitz.com/edit/angular-z8v4ux-okzszq

[2018-09-04 11:12] #69 closed

[2018-09-04 11:29] devoto13 commented on #68
https://github.com/FortAwesome/Font-Awesome/issues/13794 describes potential issue and solution.

[2018-09-04 11:33] devoto13 commented on #82
@jlopezjuy can you check https://github.com/FortAwesome/Font-Awesome/issues/13794 and try to follow [this instruction](https://github.com/FortAwesome/Font-Awesome/issues/13794#issuecomment-414399956)?

[2018-09-04 11:37] devoto13 commented on #71
Closing as issue seems to be resolved.

[2018-09-04 11:37] #71 closed

[2018-09-04 16:09] devoto13 commented on #78
It says in https://github.com/angular/angular/issues/25424 that bug was fixed in Angular 6.1.6. Can anybody confirm that `angular-fontawesome` issue is resolved when using that version?

[2018-09-05 21:06] cutepanda12 opened #91 "Icon grid"
Is there a way to show all icons in a grid/table on a page?

[2018-09-05 21:31] robmadole commented on #91
@cutepanda12 I'm not sure what you mean. Are you asking if there is some mechanism that is part of `angular-fontawesome` that will do this for you? Maybe you just need a [list of icons](http://fontawesome.com/icons)?

[2018-09-06 05:12] MaklaCof commented on #91
Probably the user want to show all icons to the user. I need something similar, so user can choose own icons.

I had an idea to show user all icons that are added to library. Can I get all icons that were added to library?
[code]

I think this would also answer @cutepanda12 question.

[2018-09-06 09:18] icecoldfire commented on #78
@devoto13 Just updated to angular 6.1.7 and it seems fixed.

[2018-09-06 10:00] #46 closed

[2018-09-06 10:03] devoto13 commented on #78
Thanks for confirming, @icecoldfire. I'll keep this issue open for a couple more days and close if nobody reports same problem again.

[2018-09-06 11:40] MaklaCof commented on #91
I have a scenario where user can add own custom shortcuts on dashboard (home page). Adding just text doesn't look so awesome. Much more awesome would be if there is also an icon.

I want to show user all icons I import, so it can choose one. This seems to me an easy solution, since all icons that were added to library are in final bundle and so at disposal to the user.

[2018-09-06 12:49] peturh commented on #34
I've found a fix for me.

Before I imported the icons in the component, this took 30 minutes to build with `ng build --prod`
Example in `app.component.ts`:

[code]

Now, instead in my `shared.module.ts`:

[code]

[2018-09-06 15:04] cutepanda12 commented on #91
![image](https://user-images.githubusercontent.com/42588922/45166207-7934a600-b1c4-11e8-8cce-861dc9377c0f.png)

I just want something similar to the site (attached image) so user can select it without having to click on a button to show the popup dialog in angular 4/5

[2018-09-06 16:18] robmadole commented on #91
@devoto13 off the cuff I agree with you ("better to create a separate array variable in your service/component"). This seems like a special use case and it's pretty trivial to implement and have ownership over it in the app.

@cutepanda12 I think you'll have to build that yourself...

[2018-09-09 15:41] rafek1241 opened #93 "Invalid transform property inside CSS3 column-count rule."
### Describe the problem
I use bootstrap 4 with angular. I discovered that when i want to icon with a mask & transform

`<fa-icon [icon]="['fas', 'award']" transform="shrink-10 right-3 down-4" size="6x" [fixedWidth]="false" [mask]="['fas','file']"></fa-icon>
`
Then in result i have that:
![image](https://user-images.githubusercontent.com/9272027/45266160-de072f00-b456-11e8-872b-9abd3ac0343c.png)

[2018-09-09 20:26] rafek1241 commented on #93
For card-columns class CSS:
`.card-columns {
    -webkit-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 1.25rem;
    column-gap: 1.25rem;
    orphans: 1;
    widows: 1;
}`

[2018-09-10 11:38] devoto13 commented on #93
@rafek1241 I've added your code into https://stackblitz.com/edit/angular-z8v4ux-bambjj and can not reproduce the problem. Please update the linked application by adding minimal code to reproduce the issue.

PS Also in the future please provide a runnable minimal reproduction of the problem, when reporting issue (on e.g. StackBlitz).

[2018-09-10 11:47] devoto13 commented on #91
@cutepanda12 as @robmadole said, you'll have to build it yourself.

@MaklaCof I still think that it is a bad idea. Think about the case when your user have used `faCoffee` icon in their dashboard and than you decided that you don't need this icon in your application anymore and simply removed it from the `library`. Your user's dashboard will get broken because of change to the completely different

[2018-09-10 11:47] #91 closed

[2018-09-10 11:53] devoto13 commented on #78
Closing as it seems to be fixed in the new version of Angular.

[2018-09-10 11:53] #78 closed

[2018-09-10 13:36] rafek1241 commented on #93
@devoto13
![image](https://user-images.githubusercontent.com/9272027/45300635-3437a900-b50f-11e8-9d50-c1621a6cb001.png)

I have opened your simulation and for me it look like that. That is the problem. Different position of masked icon.

[2018-09-10 13:46] devoto13 commented on #93
@rafek1241 Which version of Chrome do you use? I've tried in Chrome 69, Safari 11.1 and Firefox 62 on macOS and all work correctly.

[2018-09-10 13:48] rafek1241 commented on #93
![image](https://user-images.githubusercontent.com/9272027/45301272-e6bc3b80-b510-11e8-9431-4424b5e7f7e8.png)

[2018-09-10 13:49] rafek1241 commented on #93
@devoto13
I have updated chrome, clear app storage and open this simulation:
![image](https://user-images.githubusercontent.com/9272027/45301389-2551f600-b511-11e8-94bd-c25a33b9e8cd.png)

[2018-09-10 13:51] devoto13 commented on #93
@rafek1241 Can you try in incognito window/with all plugins disabled/different browser?

[2018-09-10 13:54] rafek1241 commented on #93
Opera:
![image](https://user-images.githubusercontent.com/9272027/45301700-c0e36680-b511-11e8-9200-ec48dbab916b.png)
Firefox:
![image](https://user-images.githubusercontent.com/9272027/45301732-d22c7300-b511-11e8-8d7e-6f58bdfa644b.png)

[2018-09-10 14:17] devoto13 commented on #93
@rafek1241 Managed to reproduce now. Had to reduce window size for it.

It works correctly in Safari and Firefox, but doesn't in Chrome and Opera. Also it reproduces only in interaction with Multiple column layout. Given these two things I would suspect that it may be a bug in a Blink engine.

Here is demo with just HTML/CSS: https://stackblitz.com/edit/angular-z8v4ux-gr2bir

Please, consider repo

[2018-09-10 14:58] robmadole commented on #56
@jmdmao what problem is that? You are seeing the same error as listed above?

[2018-09-10 15:22] rafek1241 commented on #93
@devoto13
I will do that.

[2018-09-10 16:18] jmdmao commented on #56
@robmadole I was having the same problem, but after following some suggestions from another topic here from the forum, it worked almost perfectly. The only problem now is that the time to generate a production version of the app by angular-cli has gone up from a few seconds to up to 6-7 minutes sometime.

[2018-09-10 17:38] devoto13 commented on #34
Angular CLI 7.0.0-beta.2 (make sure you also update `@angular-devkit/build-angular` to `0.9.0-beta.2`) replaced `uglify-es` minifier with `terser`, which contains fix for the bug causing this issue. Now it should be possible to import icons from package root without build slowdown.

Please give it a try and let me know if it works for you as well.

[2018-09-10 20:26] robmadole commented on #34
Ah excellent. Good to know @devoto13

[2018-09-11 11:34] CajetanRodrigues opened #94 "I tried integrating font awesome icons with angular by following the docs , unfortunately i get this warning and the app display a blank page"
i ｢wdm｣: Compiling...

Date: 2018-09-11T11:27:10.937Z - Hash: 99539475c7d5c32cb43d - Time: 493ms
4 unchanged chunks
chunk {main} main.js, main.js.map (main) 20.5 kB [initial] [rendered]

WARNING in ./node_modules/@fortawesome/angular-fontawesome/fesm5/angular-fontawesome.js 136:55-71
"export 'defineInjectable' was not found in '@angular/core'
i ｢wdm｣: Compiled with warnings.
----------------------

[2018-09-11 17:07] CajetanRodrigues commented on #94
[https://www.npmjs.com/package/@fortawesome/angular-fontawesome](url)

I used 0.2.0 of angular-font-awesome library with angular 6 only . So why is still giving me a problem . I feel there is some problem in the dependency files or a bug . Please suggest me an alternative

[2018-09-11 17:15] robmadole commented on #94
@CajetanRodrigues if you create a reproducible test case (you can use [this](https://stackblitz.com/edit/angular-z8v4ux) as a starting point) then we'll have an opportunity to help. Otherwise there isn't much else we can do.

[2018-09-11 18:11] devoto13 commented on #94
@CajetanRodrigues As @robmadole said we can't help further without a reproduction (either StackBlitz or GitHub repo).

And consider double checking your dependencies, because this is exactly the error you would get when using `angular-fontawesome` 0.2.0 with Angular before version 6.

[2018-09-11 19:33] kalexmills opened #95 "Accessibility: Tabbing on IE11"
### Describe the problem

fa-icon provides SVG images. There is a [known issue](https://stackoverflow.com/questions/29393144/how-to-prevent-svg-elements-from-gaining-focus-with-tabs-in-ie11) with IE11, svg and tab indexing.

### What did you expect?

I expected that the fa-icon component would expose some way to setting focusable=false on the internal <svg> tag.

We should be able to specify `focu

[2018-09-12 06:57] rafek1241 commented on #93
Issue has been closed because it's inside the chromium engine.

[2018-09-12 06:57] #93 closed

[2018-09-12 08:36] devoto13 commented on #95
This sounds reasonable to me.

@robmadole Is it something you would consider to implement in SVG core? Maybe even by default if we can't think of any drawbacks?

[2018-09-12 10:17] arthurRbr opened #96 "Feature request: support viewEncapsulation.Native and ShadowDom"
When using `viewEncapsulation.Native` (shadow DOM), some styles are missing in the component because they are set globally in the `head` section. For example, you cannot set the `size`.

This would be a nice evolution to support [Angular Elements](https://angular.io/guide/elements) (web components) that can be shared across other websites without leaking on the global DOM.

[2018-09-17 15:04] nodeCodeNinja opened #97 "How can I add a Hover text something like a title attribute to an fa-icon element?"
### Describe the problem you'd like to see solved or task you'd like to see made easier
I would like this attribute to take a title attribute and show it on hover

### Is this in relation to an existing part of angular-fontawesome or something new?
Something New

### What is 1 thing that we can do when building this feature that will guarantee that it is awesome?
I am not sure. May be this is not

[2018-09-18 03:56] RezaRahmati commented on #96
Please support this feature, it's needed when creating web components

[2018-09-19 11:44] devoto13 commented on #97
You can use `title` attribute for this, it works (hover over `fortAwesome` icon): https://stackblitz.com/edit/angular-z8v4ux-m7e3qm

If you want a custom tooltip I don't think this is something, which should be supported in `angular-fontawesome` or FontAwesome in general, but I'm pretty sure you can use one of the popover/tooltip libraries out there to show tooltip/popover bound to an icon. [ng-bo

[2018-09-23 23:16] SeriousLemon opened #98 "0.2.0 overwrites class on fa-layers component"
### Describe the problem

Prior to 0.2.0 any classes on fa-layers were preserved. Now they are overwritten.

### What did you expect?

Classes should not be overwritten.

### Reproducible test case

https://stackblitz.com/edit/angular-z8v4ux-vvutjk

[2018-09-24 10:27] nodeCodeNinja commented on #97
Thanks for the response.

It indeed works. Thanks fr putting up the example.

[2018-09-24 10:27] #97 closed

[2018-09-25 08:57] toverux commented on #98
Yes! Same problem here.

`FaLayersComponent` has a `HostBinding` on `class`, and this takes control of the whole className string. Angular does *not* give different context to the components that are interested in the property.

This is discussed in https://github.com/angular/angular/issues/7289, where there are a few proposed workarounds, the following ones seem good:
 - using NgClass https://git

[2018-09-26 10:22] pabloxn opened #99 "Fa-angle-down"
fa-angle-down is displaying as fa-angle-left. Can this be rectified, please?

[2018-09-26 15:41] devoto13 commented on #98
@toverux the latter approach looks good!

If anybody is willing to submit a PR I would be happy to review it. Otherwise I'll have time to work on this early next week. Please add tests to make sure these 3 syntaxes work correctly: `[class]="my-class"`, `[class.my-class]="true"` and `[ngClass]="{'my-class': true}"` with the component.

[2018-10-03 12:00] #98 closed

[2018-10-07 19:00] devoto13 commented on #99
Closing as can not reproduce and no feedback.

[2018-10-07 19:00] #99 closed

[2018-10-07 19:07] devoto13 commented on #82
Closing as no feedback and can not reproduce. Please follow the recommendation linked in the previous comment and if it still does not work open a new issue.

[2018-10-07 19:07] #82 closed

[2018-10-09 18:33] osahner commented on #50
You could rewrite your code to:

`<h1 *ngIf="icon | async as nonAsyncIcon"><fa-icon [icon]="nonAsyncIcon"></fa-icon> angular-fontawesome template</h1>`

as documented here: https://angular.io/api/common/NgIf#storing-conditional-result-in-a-variable

[2018-10-12 15:51] sebastianbats opened #102 "ng build --prod 10-20 times slower at 92% UglifyJSPlugin stage with the only difference being font awesome"
### Describe the problem

I had a project using material icons, in the end I didn't like the icons and how they aligned. Literally the only change to the project is using font awesome icons instead of material icons.

Usually it would run about 10-20 seconds at the 92% UglifyJSPlugin stage when building with --prod which I'm assuming runs AOT and other stuff.

Now with fontawesome, I can just wait

[2018-10-12 16:28] robmadole commented on #102
@sebastianbats check this for details on Tree Shaking. https://fontawesome.com/how-to-use/with-the-api/other/tree-shaking

This is a bug with the uglifyjs project. The terser replacement fixes this.

[2018-10-12 19:54] sebastianbats commented on #102
@robmadole  hmm -- I am importing each icon separately as described and relying on deep imports.

I'll take a look at alternatives with Angular then, thanks!

[2018-10-12 19:54] #102 closed

[2018-10-20 00:52] skotturi commented on #48
I've included the styles in angular.json build.options.styles but I'm still getting massive icons when using Angular Universal until the server => client transfer occurs.

[code]

in app.module.ts I've tried turning config.autoAddCss to true or false without any result.

[code]

[2018-10-20 13:14] devoto13 commented on #48
@skotturi This is strange. Do you have a repro I can take a look at?

Also as a diagnostic step: can you open Network tab in your browser's Dev Tools and make sure that the server rendered page includes the necessary styles by searching for `.fa-layers` in the returned content for example?

[2018-10-22 19:44] jfairley opened #104 "Unable to use beyond 0.1.0-8"
### Describe the problem

Over the last few months, I have tried to upgrade to the latests periodically, but I always get the same error.

Currently I am trying:

[code]

The latest dependencies that I have found to work in my app are:

[code]

Please see https://github.com/jfairley/font-awesome-build-failure for a full sample project to reproduce what I am seeing.

Upgrading any piece yields the

[2018-10-22 21:28] robmadole commented on #104
@jfairley it looks like you are using some pre-releases. Can you upgrade all your `@fortawesome` scoped dependencies and try again?

[2018-10-22 22:59] jfairley commented on #104
@robmadole That's the point of this issue.

See my linked github repository.
https://github.com/jfairley/font-awesome-build-failure

I want to upgrade. When I do, I get errors. I've been punting this upgrade for months. :(

[2018-10-22 23:01] jfairley commented on #104
In my linked repo, I'm pretty sure the `library.add(faXYZ)` is unnecessary. We do not use that style currently, but as I said, I've tried all the configuration options described in the repo readme.

[2018-10-22 23:08] jfairley commented on #104
I've reworded the main description, hopefully for more clarity.

[2018-10-23 21:40] devoto13 commented on #104
Hi @jfairley! I've looked into your reproduction and the issue in your case is incorrectly configured `file-loader`.

[code]

If you run `./node_modules/.bin/webpack --config playground/webpack.playground.js` you'll notice that some FA files end up in the `dist` folder in the completely unprocessed state (e.g. with original `import/export` keywords) instead of being included in the `main.js` bundl

[2018-10-23 21:40] #104 closed

[2018-10-23 22:30] jfairley commented on #104
@devoto13 Thanks for the tip! I will go check out the new error!

[2018-10-23 22:36] devoto13 commented on #104
@jfairley Actually never mind about the new error. It was because I only started `webpack-dev-server`.    No errors now :)

[2018-10-25 15:07] altso opened #106 "Feature request: Support Angular 7"
### Describe the problem you'd like to see solved or task you'd like to see made easier

@fortawesome/angular-fontawesome throws a warning when installed along with Angular 7

[code]

### Why would other angular-fontawesome users care about this?

Because everyone will eventually switch to Angular 7

### On a scale of 1 (sometime in the future) to 10 (absolutely right now), how soon would you reco

[2018-10-25 15:10] altso commented on #106
I see it was resolved in 0.3.0

[2018-10-25 15:10] #106 closed

[2018-10-25 15:11] robmadole commented on #106
@altso haha. Was just getting ready to ask ya :)

[2018-10-25 19:58] hhfrancois opened #108 "Feature request: fas-icon far-icon fab-icon"
### Describe the problem you'd like to see solved or task you'd like to see made easier

For simplify using fontawsesome with angular

[code]
instead

[code]

### Is this in relation to an existing part of angular-fontawesome or something new?

Just angular-fontawesome implementation

### What is 1 thing that we can do when building this feature that will guarantee that it is awesome?

make the AP

[2018-11-02 14:58] joao-azevedo-hydradev opened #109 "Feature request: Custom svg icons"
### Describe the problem you'd like to see solved or task you'd like to see made easier

Allow users to add custom SVG icons to the font awesome.

### Is this in relation to an existing part of angular-fontawesome or something new?

I think it's a new feature because I didn't find this feature angular-fontawesome.

### What is 1 thing that we can do when building this feature that will guarantee t

[2018-11-02 15:32] mlwilkerson commented on #109
You can do this already with our SVG framework. Here's a demo.

https://github.com/mlwilkerson/fa-custom-icon-demo

[2018-11-02 16:46] devoto13 commented on #109
I can confirm that this works with `angular-fontawesome` as I use it in one of my projects. TypeScript types do not support it though, so you'll have to cast icon definition to `any` to be able to use it.

And I think TypeScript types is something, what needs to be fixed here.

[2018-11-05 09:34] joao-azevedo-hydradev commented on #109
Thanks @mlwilkerson @devoto13

[2018-11-05 09:34] #109 closed

[2018-11-05 19:52] wja123 commented on #34
Yeah, deep importing fixed this issue for me.

[2018-11-07 06:42] sebitsi commented on #85
@robmadole
It would be nice if `<fa-layers-counter>` accepts` transform` attribute.

[2018-11-08 20:09] dalu commented on #85
I completely forgot about that, is it ok to close this? I don't think I used it afterwards, because of the initial problem I dropped those and redesigned the UI

[2018-11-09 06:33] sebitsi commented on #85
@dalu i think this issue should be open.
It would be nice if we have options on `<fa-layers-counter>` to move it or size it using `transform` attribute.

[2018-11-12 22:06] devoto13 commented on #34
Angular CLI 7+ uses [terser](https://github.com/terser-js/terser) as a minifier and therefore includes the fix for the slow compilation. Please open a new issue with the reproduction if you still experience slow builds using Angular CLI 7+.

If you're stuck with the older version you can use deep imports approach as a workaround.

[2018-11-14 05:39] RezaRahmati opened #112 "unable to find rocketChat icon"
### Describe the problem

I tried to use rocketchat as [https://fontawesome.com/icons/rocketchat?style=brands](https://fontawesome.com/icons/rocketchat?style=brands), but I couldn't make it work

### What did you expect?

Display rocketchat

### Reproducible test case

`<fa-icon [icon]="['fab', 'rocketchat' ]"></fa-icon>`

[code]

[2018-11-14 11:36] devoto13 commented on #112
Did you add the icon to the `library`? See 1, 2, 3, 4, 5 in the [documentation](https://github.com/FortAwesome/angular-fontawesome#using-the-icon-library).

[2018-11-14 14:15] devoto13 commented on #83
I would prefer this to be a part of this repo instead of a separate package, so the command would be:

    ng add @fortawesome/angular-fontawesome

For the initial version I would expect it to add `@fortawesome/fontawesome-svg-core`, `@fortawesome/free-solid-svg-icons` (and potentially other free packages) and `@fortawesome/angular-fontawesome` packages to the dependencies and import `FontAwesomeM

[2018-11-14 14:44] RezaRahmati commented on #112
Yes I tried even I am not able to add it to library, also I checked the d.ts file, that icon is not there

I am able to use other icons such as comment, times, coffee

[2018-11-14 14:57] devoto13 commented on #112
Just noticed that you don't have `@fortawesome/free-brands-svg-icons` in your dependencies. The icon you're trying to use is from the Brands style as mentioned on the icon page you have linked. I checked the package and it contains the icon.

[2018-11-14 14:59] RezaRahmati commented on #112
Oh Ok, thanks for help, I will check it out

[2018-11-16 03:53] #112 closed

[2018-11-16 23:35] robmadole commented on #85
@sebitsi to keep the `fa-layers-counter` simple we will not be adding `transform` to it. It's done with CSS now and `transform` requires JS to process.

[2018-11-16 23:35] #85 closed

[2018-11-17 14:42] kimamula commented on #34
Unfortunately deep importing still has a significant effect on the decrease of the resulting chunk size (~200kB after gzipped).
I am using @fortawesome/angular-fontawesome@0.3.0, terser@3.10.2 and @angular-devkit/build-optimizer@0.10.6.

[2018-11-17 15:06] devoto13 commented on #34
@kimamula How do you measure this? Is it `webpack-bundle-analyzer`? I remember there were some issues with it reporting sizes of modules before they are processed by minifier. Can you try to check with [source-map-explorer](https://www.npmjs.com/package/source-map-explorer) instead?

[2018-11-20 14:20] AvogadroSG1 opened #113 "Issue with FortAwesome Pro CDN"
Hi all!

I followed the instructions provided to add a .npmrc file for my packages and local npm to use.  Grabbed my token from my Pro account and pushed it into the .npmrc.

In visual studio 2017 version 15.8.5, when inside the packages.json file, input the "@forstawesome/pro-solid-svg-icons" : "XXXX"

Once I start trying to type into the XXXX area for the version number, VS freezes and will not

[2018-11-20 14:49] devoto13 commented on #113
Hi @AvogadroSG1!
Does `npm view @fortawesome/pro-light-svg-icons versions` return list of version, when you run it from terminal? If so, I would say it's either VS bug or misconfiguration.

[2018-11-20 15:11] mlwilkerson commented on #113
Coincidentally, we _are_ having some CDN anomalies right now. Engineers are investigating a spike in traffic. Not sure if that's what would cause this freezing behavior in VS (seems like VS shouldn't freeze just because a network request like this might be slow).

See https://status.fortawesome.com/

[2018-11-21 08:22] piwko28 opened #114 "No license file"
There is an information in package.json about MIT license, but there is no license file within repository nor github info.
I'd like to use this package in my project, but my organisation requires to law analysis.
I noted that there are license file in other FortAwesome repositories.
Could you please add the license?

I would be grateful for help.
Best wishes,
Szymon

[2018-11-21 13:12] JesperBalslev opened #115 "Issue with FontAwesome in an Ionic application"
I previously used FontAwesome 5 without using this package, with no problems, but it seems it is not updated anymore (last version 5.1).

After doing the installation as written by you fine guys, i tried starting up my app, and was met by this error:

`TypeError: Object(__WEBPACK_IMPORTED_MODULE_1__angular_core__["defineInjectable"]) is not a function. (In 'Object(__WEBPACK_IMPORTED_MODULE_1__angu

[2018-11-21 14:47] devoto13 commented on #115
Hi @JesperBalslev! Yes, it is a compatibility issue. You can find information regarding supported Angular versions in the [CHANGELOG](https://github.com/FortAwesome/angular-fontawesome/blob/master/CHANGELOG.md) (maybe not super clear, but it's there 😄). The support for Angular 5 was dropped in 0.2.0, so I would recommend to stick with 0.1.1 until you upgrade your Angular version.

Although we don'

[2018-11-21 17:48] learnuser521 commented on #65
Has the issue with 92% thing been fixed or do we still have to use the workaround ?

[2018-11-21 22:01] JesperBalslev commented on #115
Thanks for the reply. I actually decided to go ahead and upgrade to Angular 6.1.10... It did not seem to break anything, so why not! :)

Thanks again, and while it took me some time to rewrite all my icons, it is well worth it, and i prefer this angular / web component approach. :)

[2018-11-22 09:53] devoto13 commented on #65
@learnuser521 It is supposed to be fixed using Angular CLI 7+ and I do not experience this issue in my applications. However another user has reported that he still experiences this problem. If you can provide a reproduction for the problem using Angular CLI 7+ we can take a look, but without reproduction it is rather hard to do anything.

See https://github.com/FortAwesome/angular-fontawesome/iss

[2018-11-22 16:55] MikeDabrowski opened #117 "How to import icons to be available as css classes"
In my project I use UI libs that allow icon customization by providing string with icon css class definition. For example `'fa fa-user'`. Such string will end up in class of the span or i tag in html. How to import and register icons to global space to be available from html as class?

So far I found workaround:
In module:
[code]

In component
[code]
I needed to use @fortawesome/fontawesome becaus

[2018-11-22 19:42] devoto13 commented on #117
It's rather hard to answer your question 😄 The better way is to not do, what you're doing.

Basically you are loading two instances of FontAwesome library: one is used by `<fa-icon>` component (this library) and another one uses `MutationObserver` to replace `<i>` tags with classes.

Mixing both ways in the same application is neither supported nor recommended. I would recommend to either stick wi

[2018-11-22 19:50] MikeDabrowski commented on #117
😢  eh, not good... I'm surprised no one had this problem before.
My app is not that big yet so I will revert to the first approach then.

[2018-11-22 19:51] #117 closed

[2018-11-22 19:55] devoto13 commented on #117
Sorry!

PS You can also check, maybe your UI library supports passing icons as SVG string (Material [does it](https://github.com/FortAwesome/angular-fontawesome/issues/35#issuecomment-418201995)). This way you can use `<fa-icon>` for you own code and pass icon as SVG string to the UI library.

[2018-11-22 19:58] devoto13 commented on #115
Great, @JesperBalslev! Happy you solved it.

[2018-11-22 19:58] #115 closed

[2018-11-22 20:04] MikeDabrowski commented on #117
Almost 100% they not support it. At least not yet. I'm using PrimeNG and want to set menu icons.
Here's discussion: https://github.com/primefaces/primeng/issues/5098

[2018-11-22 20:12] devoto13 commented on #117
Yeah, this seems to be the feature request: https://github.com/primefaces/primeng/issues/4588. You may also try to poke PrimeNG team there!

[2018-11-26 12:05] theCrius opened #119 "fa-layers fixedWidth not supported attribute with Angular 5.x and Angular-FontAwesome 0.1.1"
### Describe the problem

I'm trying to implement stacked icons using the layers tag. While it definitely works with Angular 6+ and the latest version of this library, it seems to fail with the project I'm working on that is written in Angular 5.x and thus need a previous version of this library.

### What did you expect?

The fa-layers to work as in the example here: https://github.com/FortAwesom

[2018-11-26 13:30] learnuser521 commented on #65
@devoto13 I have not yet updated to Angular 7, will get back if there are issues after the update. Thank you

[2018-11-27 11:46] kimamula commented on #34
@devoto13 I am sorry that I found that this was totally my fault.
By some chance `"module": "es2015"` has been removed from my `tsconfig.json` and that was the problem.
After setting `"module": "es2015"` in `tsconfig.json`, tree shaking is working fine.

[2018-11-27 11:59] devoto13 commented on #34
@kimamula Happy to hear that you solved it!

And thanks for letting us know what problem was.

[2018-11-27 11:59] #34 closed

[2018-11-27 21:59] #114 closed

[2018-11-27 22:01] robmadole commented on #114
Thanks for helping us clean up our omission @piwko28 ! All fixed up.

[2018-12-03 14:55] devoto13 commented on #113
https://status.fortawesome.com/ claims that all services are operational now, so closing the issue.

[2018-12-03 14:55] #113 closed

[2018-12-03 15:20] robmadole commented on #113
Yep, this issue (when originally posted) would not have been related to the Pro CDN service.

[2018-12-14 01:33] mastermike501 commented on #57
Hi all, has this issue been fixed as of 0.3.0? I am still seeing this issue when using 0.3.0 with Angular 6.0.1.

[2018-12-15 11:18] Fieel opened #120 "Compatibility issue with IE 11: SCRIPT1003."
### Describe the problem

When adding icons to my icons library in my app.module.ts file this library triggers a bug on IE which expects an object to be created using key:value pairs, this isn't happening for some reason, FA declares the object without this so IE crashes.

Error in question: https://docs.microsoft.com/it-it/previous-versions/bzt48fs6(v=vs.94)
My part of compiled vendor.js file tha

[2018-12-15 14:43] fchiumeo commented on #120
update version font-awesome

[font-awesome #14382](https://github.com/FortAwesome/Font-Awesome/issues/14382)

[2018-12-16 11:04] devoto13 commented on #120
As @fchiumeo said. Update to 5.6.1, this was a regression in 5.6.0.

[2018-12-16 11:04] #120 closed

[2018-12-31 10:51] WizardPC opened #121 "How to import the same icon from solid and regular library ?"
### Describe the problem

I want to import "faStar" from the regular AND solid library. There is no example in the documentation to do this.

If i try to do :

[code]

I got an error because it's duplicate.

I end up using this solution but i don't know if it's the rigth way...

[code]

### What did you expect?

A tip to import an icon from both free library without importing all "far" and "fas" l

[2018-12-31 13:45] devoto13 commented on #121
@WizardPC Your solution using import aliases is the correct way.

Would you be willing to send a PR adding an example on how to use same icon from different styles under [Using other styles](https://github.com/FortAwesome/angular-fontawesome#using-other-styles) section?

[2018-12-31 14:01] WizardPC commented on #121
I just see that aliases are used in the stackblitz example... It's just a missing doc issue so :+1:

I haven't the time now cause of Christmas but here is my example :

Adding an icon from both Regular and Solid style:

[code]

[code]

[2019-01-03 06:16] MaklaCof commented on #121
Is this also a legitimate way?
[code]
I have TreeShaking in mind?

[2019-01-03 10:40] devoto13 commented on #121
@MaklaCof I'm not sure. My guess is that it may depend on the bundler/minifier used. If it works and unused icons are removed, then it is fine as well.

[2019-01-03 15:52] WizardPC commented on #121
@MaklaCof can you compare the bundle size ?

[2019-01-09 18:46] jpzwarte opened #122 "Lack of documentation on how to use fa-icon with svg sprite and symbols"
I'm creating this issue which basically is the same as #33 because there doesn't seem to be any activity on that issue.

I've found out that doing `<fa-icon [icon]="..." symbol="sprite"></fa-icon>` will create an svg element with a `<symbol>`. What i've failed to accomplish to actually use `<fa-icon>` to reference that symbol!

So how does one use `<fa-icon>` to output `<svg><use xlink:href="#fas-

[2019-01-15 23:48] robmadole commented on #122
@jpzwarte the `<fa-icon>` component is intentionally not designed to output the `<svg><use ...` elements. Part of the reason that you would use a symbol over just a normal `<fa-icon>` is that you want to optimize performance. The use case for this is [outlined here](https://fontawesome.com/how-to-use/on-the-web/advanced/svg-symbols).

It's preferable that you go ahead and type directly in the `.ht

[2019-01-17 09:37] WizardPC opened #124 "Feature request: Multiple icon in one fa-icon"
### Describe the problem you'd like to see solved or task you'd like to see made easier

I'm asking myself if there is a way to achieve this with angular-fontawesome :

[code]

With the classic font awesome css it will result in two car icon next to each other.

But i don't find a way to do it in one `fa-icon`

### Is this in relation to an existing part of angular-fontawesome or something new?

U

[2019-01-17 09:57] #122 closed

[2019-01-22 16:25] bjoernboeckle commented on #121
Thanks for the posts, thats exactly what I did and it works fine in development.
The reason why I ended here ist that if I do a production build I'm getting errors that the icons are not defined as soon as I use a "as xxx" import.

No idea whats wrong, as mentioned I'm using exactly the syntax above.
Maybe anyone has an idea?

Thanks

[2019-01-23 10:20] devoto13 commented on #121
Hard to say, @bjoernboeckle. It seems to work for other people. Try to update to latest Angular CLI/Webpack and check if it is still broken. Otherwise you'll probably have to debug it yourself.

[2019-01-23 10:54] bjoernboeckle commented on #121
Thanks a lot for your response, I'm using C# for many years now, but I'm new to angular and web development, so no idea why it doesnt' work; I'm already using the latest versions.

But in the mean time I solved it by using the code by MaklaCof below, as mentioned my first soution which was the same as the original post only works in development mode.

`import * as fal from "@fortawesome/pro-light-

[2019-02-05 12:05] ehujdur opened #125 "Argument of type 'IconPack' is not assignable to parameter of type 'IconDefinitionOrPack'"
### Describe the problem

Trying to import fab icons to angular project, but cli says there's the following error:

`error TS2345: Argument of type 'IconPack' is not assignable to parameter of type 'IconDefinitionOrPack'. Type 'IconPack' is missing the following properties from type 'IconDefinition': icon, prefix, iconName
`

[2019-02-05 12:54] devoto13 commented on #125
@ehujdur Can you also add your code, which leads to this error?

[2019-02-05 14:43] pavax commented on #86
We faced the same problem in our project. We ended up in creating a angular directive that decorates the `<fa-icon>` component for angular-fontawesome.

The svg element are updated in the ngAfterViewInit phase and listen for router `NavigationEnd` events. In that case also dynamically added component will be decorated as well as on every route/location change

see here: https://gist.github.com/pav

[2019-02-09 14:09] devoto13 commented on #72
I've been looking into this issue and I don't think that there is anything to fix on the `angular-fontawesome` side.

The key problem is that Angular does not have a built-in way to dynamically render component with inputs or outputs. Neither [`ngComponentOutlet` directive](https://angular.io/api/common/NgComponentOutlet), nor using [`ComponentFactoryResolver`](https://angular.io/api/core/Componen

[2019-02-09 14:09] #72 closed

[2019-02-13 14:37] AvogadroSG1 commented on #125
I have this issue loading Regular Icons.

`
import { NgModule } from '@angular/core';
import { CommonModule } from '@angular/common';
import { FontAwesomeModule } from '@fortawesome/angular-fontawesome';
import { NgbModule } from '@ng-bootstrap/ng-bootstrap';
import { FormsModule, ReactiveFormsModule } from '@angular/forms';
import { HttpClientModule } from '@angular/common/http';
import { library

[2019-02-14 13:44] devoto13 commented on #125
Can you mention versions of `@fortawesome/fontawesome-svg-core` and `@fortawesome/pro-regular-svg-icons` packages you use?

[2019-02-14 22:28] stephaniepurvis commented on #121
I just submitted a PR for something else in the documentation. Since I've already got this forked, would you like me to add this to the documentation in another PR? I'd be happy to help!

[2019-02-15 09:41] devoto13 commented on #121
Would be great if you add it, @stephaniepurvis. Thanks!

[2019-02-15 21:43] imtDeveloper commented on #72
I know this was just closed, but I wanted to add that @rurziceanu's original code has more settings on the instance than is necessary. Instead of setting both iconProp and icon (the former being set to a static imported reference), you can simply set iconPrep as follows (using the coffee example):

`
 _icon.instance.iconProp = 'coffee';
`
or
`
 _icon.instance.iconProp = ['fas','coffee']; // make s

[2019-02-16 10:29] #121 closed

[2019-02-16 10:39] devoto13 commented on #124
Thank you for the feature request, however it is not something we want to support.

It works in CSS implementation because of abuse of the implementation detail. Since `angular-fontawesome` works very differently such abuse is not possible. If you want to display multiple icons you'll have to display multiple `<fa-icon>` components, each with its own icon.

It is pretty easy to use `ngFor` to disp

[2019-02-16 10:39] #124 closed

[2019-02-21 07:39] alc86 opened #129 "@fortawesome/Angular-FontAwesome npm package with ng-packagr"
We create for our angular projects a private npm UI package which contains our UI components. Now I tried to add all our needed Icons from FontAwesome to the Library. We use the ng-packagr to generate the npm package this works without any issue. If I our package then I get a build issue:

Error during template compile of 'WebUiModule'
  Could not resolve @fortawesome/angular-fontawesome relative

[2019-02-21 11:55] devoto13 commented on #129
It's hard to understand what you're trying to do and what may be the issue just from the short description. But if you manage to create a small reproduction on GitHub I can take a look.

[2019-02-21 14:29] AvogadroSG1 commented on #125
Hi!  I'm very sorry for the delay.

![image](https://user-images.githubusercontent.com/3843680/53175973-1fca0300-35bb-11e9-8b42-75b506e52f4e.png)

[2019-02-21 14:43] devoto13 commented on #125
Do you use both `@fortawesome/fontawesome-pro` and `@fortawesome/angular-fontawesome` in the same project? This may be the source of the issue. Try removing `@fortawesome/fontawesome-pro` if you don't use it.

[2019-02-21 14:47] AvogadroSG1 commented on #125
Did try this with and without because I wasn't sure.  I removed it, still have the problem.  Here's my module's FA imports and statements.
![image](https://user-images.githubusercontent.com/3843680/53177270-b7c8ec00-35bd-11e9-811c-dc290e343594.png)

[2019-02-21 14:57] devoto13 commented on #125
Managed to reproduce it, investigating.

[2019-02-21 15:13] devoto13 commented on #125
So the issue seems to be that you ended up having two instances of `@fortawesome/fontawesome-common-types` of different versions installed.

Can you first try to open your `package-lock.json` and search for `"@fortawesome/fontawesome-common-types": {`? Does it find more than one result? If so try changing `@fortawesome/fontawesome-svg-core` to `^1.2.12` and running `npm install` to force it to upd

[2019-02-21 16:34] AvogadroSG1 commented on #125
I couldn't get it to force the install, so I removed it from packages.json and then readded it.  Now all point to ^0.2.15. (While before one was pointing to 0.2.12)

So the better question, is this an NPM issue or a deployment problem from the package?

[2019-02-21 16:37] devoto13 commented on #125
It's is a consequence of how FontAwesome packages are structured. Let's keep this issue open, I'lll think how we can prevent this from happening in the future.

[2019-02-21 16:38] AvogadroSG1 commented on #125
Thanks for your help!

[2019-02-22 10:14] aster-orthrinos opened #130 "Angular 7, problem with sizing"
Hi!

"@angular/core": "7.0.2"
angular-fontawesome": "0.3.0"
free-solid-svg-icons": "5.7.2"

 So I put icon in my project like this:
[code]

and I have following error:

compiler.js:2547 Uncaught Error: Template parse errors:
Parser Error: Unexpected token 'x' at column 2 in [3x] in ng:///AppModule/ItemsWithGroupsComponent.html@20:16 ("
                [icon]="['fas', 'spinner']"
                [s

[2019-02-22 11:50] devoto13 commented on #130
[code]

You want `3x` to be treated as a string literal, not as a variable name or number. See [this answer](https://stackoverflow.com/a/36220057/1377864) for more details.

[2019-02-22 12:50] aster-orthrinos commented on #130
Sorry for so simple question, somehow I missed out that square brackets were not present in tutorial...

Thank you!

[2019-02-22 12:50] #130 closed

[2019-02-22 14:12] Trapulo commented on #72
Hi I need something similar to render an icon as a pipe. With FA 4 I can just bind an innerHtml to string rendered by the pipe's transform function, but with FA5 I cannot find the solution.. someone can help me?

thanks

[2019-02-22 14:17] devoto13 commented on #72
@Trapulo You can do the same with FA 5. It's basically what `fa-icon` does under the hood. See [here](https://github.com/FortAwesome/angular-fontawesome/blob/master/src/lib/icon/icon.component.ts#L67), [here](https://github.com/FortAwesome/angular-fontawesome/blob/master/src/lib/icon/icon.component.ts#L126) and [here](https://github.com/FortAwesome/angular-fontawesome/blob/master/src/lib/icon/icon

[2019-02-22 14:40] Trapulo commented on #72
thank you!

constructor(private sanitizer: DomSanitizer) { }
...

 var outIcon = (value ? icon({ prefix: "fas", iconName: "smile" }) : icon({ prefix: "fas", iconName: "frown" }));
        var renderedIconHTML = this.sanitizer.bypassSecurityTrustHtml(
          outIcon.html.join('\n')
        );
        return renderedIconHTML;

[2019-02-26 15:35] de-mim-1974 opened #132 "Installation-Guide via NPM missing"
I was try to Install this with "yarn", but I got that warning:

My Angular 6 Application is not a fresh created with Angular-CLI, it was crated with Angular-CLI some month ago. So I don't want to mix the package mangers. I like to stay at npm because in the past I've installed many packages via npm.

I was try to install package with npm:
[code]

In app.module.ts I've add the FontAwesomeModule:
[c

[2019-02-26 16:15] stephaniepurvis commented on #132
You need to put the library.add(faRoad); in the exports

![screen shot 2019-02-26 at 10 13 57 am](https://user-images.githubusercontent.com/3844427/53427910-65b60b00-39af-11e9-925a-b722c071fcb5.png)

[2019-02-26 16:35] de-mim-1974 commented on #132
Thank you Stephanie! Good point!
I've change it in app.module.ts.

The Error

`'fa-icon' is not a known element:`

is still there :(

[2019-02-26 18:00] devoto13 commented on #132
@de-mim-1974 Most likely you try to use `fa-icon` in the component, which is declared not in `AppModule`, but in some other module. Make sure to import `FontAwesomeModule` into the module, where component you plan to to add icon to is present in `declarations` array.

[2019-02-27 07:16] de-mim-1974 commented on #132
@devoto13 Thank you, that was the cause. I had to implement it in my `home.module.ts`. I am ashamed a little.

[2019-02-27 07:16] #132 closed

[2019-03-15 18:52] jordan112 opened #133 "main readme.md includes incorrect command "fort" not "font""
### Describe the problem

yarn add @fortawesome/fontawesome-svg-core \
  yarn add @fortawesome/free-solid-svg-icons \
  yarn add @fortawesome/angular-fontawesome

### What did you expect?

### Reproducible test case

[2019-03-15 19:58] robmadole commented on #133
Hey @jordan112 the “fort” is actually correct. Are you having trouble installing them?

[2019-03-15 19:59] jordan112 commented on #133
Oh, my apologies.  It was just unexpected.  thanks.

[2019-03-15 19:59] #133 closed

[2019-03-23 06:20] bjornharvold commented on #96
Would love support for this!

[2019-04-04 14:29] damienwebdev opened #134 "[FEAT] FontAwesomeTestingModule is missing"
### Describe the problem you'd like to see solved or task you'd like to see made easier

When testing components that use the FA icon, you either have to re-import the font awesome library for each component that utilizes it (painful) or use the CUSTOM_ELEMENTS_SCHEMA, which is bad practice. This project should provide a mocked `fa-icon` component that is very "dumb" and does nothing.

### Is this

[2019-04-04 15:48] devoto13 commented on #134
I do agree that we should throw when specified icon does not exist. This is a clear error and should crash and not just log a warning. Need to change [this](https://github.com/FortAwesome/angular-fontawesome/blob/master/src/lib/shared/errors/warn-if-icon-html-missing.ts#L5) to throw instead of logging.

I'm not so sure about the module for testing though. Do you know of any other libraries which p

[2019-04-04 16:14] damienwebdev commented on #134
@devoto13 Do you have an example of

If I'm not mistaken, Angular component tests are all atomic. There's no "global" module which they all inherit from, each instance of:

[code]

would warrant an import like:

[code]

[2019-04-04 16:23] devoto13 commented on #134
You're right that tests are atomic, so you'll need to import `FontAwesomeModule` in every test anyway. But so you'll need to import `FontAwesomeTestingModule` if we introduce it. So nothing really changes.

By library I meant [Icon Library](https://github.com/FortAwesome/angular-fontawesome#using-the-icon-library) (sorry if it was not clear), which is global, so you don't need to add your icons in

[2019-04-04 22:38] devoto13 commented on #129
Closing as it is not actionable without more information or reproduction.

[2019-04-04 22:38] #129 closed

[2019-04-17 14:35] danieldanielecki commented on #17
Code snippet for people looking for it, will change color on hover (**.scss** code):

[code]

[2019-04-18 12:57] danieldanielecki opened #135 "Add docs for unit testing"
The [react-fontawesome](https://github.com/FortAwesome/react-fontawesome) dependency includes [documentation for unit testing](https://github.com/FortAwesome/react-fontawesome#unit-testing). It would be good to have it here as well.

[2019-04-18 14:21] jboeijenga commented on #95
@devoto13 Thanks for your comment!
I had issues with the svg element not having the focusable attribute and IE11 as well. After updating `@fortawesome/fontawesome-svg-core` to `1.2.13` I was able verify these issues are now resolved.

[2019-04-29 02:51] nartc opened #136 "[animation] fa-spin is being applied for class fa-pulse"
### Describe the problem

![image](https://user-images.githubusercontent.com/25516557/56874471-b07bef80-69ff-11e9-856e-aeda8dc7bb54.png)

### What did you expect?

setting `[pulse]` should have `pulse` animation instead of `spin`

### Reproducible test case

[2019-04-29 19:40] devoto13 commented on #136
It does not sound very logical, but according to [documentation](https://fontawesome.com/how-to-use/on-the-web/styling/animating-icons) this is intended behavior:

`angular-fontawesome` is a thin wrapper around the [core Font Awesome](https://github.com/FortAwesome/Font-Awesome) library, so we can't really do anything about it here. I would recommend to open an issue in the core library to discuss

[2019-04-29 19:40] #136 closed

[2019-04-29 19:53] nartc commented on #136
Sounds good. Thanks

[2019-04-29 19:56] nartc commented on #136
https://github.com/FortAwesome/Font-Awesome/issues/14694

So it's actually intended to rotate with 8 steps. That's a weird naming.

Everything's clear now.

[2019-05-01 13:18] Sandeep2408 commented on #86
Hello
You need to pass full url and append id of mask tag in the image which want to mask. It works fine with base url also. For example

<svg width="100%" height="100%" viewBox="0 0 588 681" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
    <defs>
        <mask id="itringlemasking">
          <po

[2019-05-01 15:07] damienwebdev commented on #134
@devoto13 Just to circle back on this.

I think a FontAwesomeTestingModule would be nice, because it would allow me to test the bindings that I've set on the `fa-icon`. If I were to use CUSTOM_ELEMENTS_SCHEMA, I would not only not be able to test bindings, but also prevent testing of other subcomponents in my component.

The `FontAwesomeTestingModule` could provide a simple version of `fa-icon` th

[2019-05-02 15:04] damienwebdev opened #137 "Feature Request: Angular 8 Support"
### Describe the problem you'd like to see solved or task you'd like to see made easier
Angular 8 is in `rc` stage, we should have support for Angular 8.

### Is this in relation to an existing part of angular-fontawesome or something new?
New

### What is 1 thing that we can do when building this feature that will guarantee that it is awesome?
Make it work.

### Why would other angular-fontawesom

[2019-05-03 09:13] Devqon opened #138 "Input title does not work in Internet Explorer"
### Describe the problem

When using an `[title]` input attribute it does not work in internet explorer. It does work when using the plain `title` attribute.

When using the input attribute, it does not render the `title` attribute on the `fa-icon` element:

[code]

### What did you expect?

Input title also works for IE

### Reproducible test case

Open this stackblitz in IE:
https://stackblitz.c

[2019-05-08 17:15] damienwebdev commented on #72
@devoto13 I'd be willing to submit a PR to address this issue. I think we could definitely achieve this without having to call `ngOnChanges`, additionally, we could also make the component `ChangeDetectionStrategy.onPush` for an additional performance gain.

Do you think it would be worthwhile to do so?

[2019-05-08 19:23] devoto13 commented on #72
@damienwebdev I doubt that it is possible, but would be happy to review a PR if you manage to achieve it. This is worthwhile as it will make it easier for people to render the icon dynamically.

This is good on it's own. PR is welcome even without the first part!

[2019-05-08 19:32] devoto13 commented on #134
Ok, I'm convinced now. Let's have a `FontAwesomeTestingModule`. PRs are welcome!

[2019-05-08 20:20] devoto13 commented on #135
Related to #134.

[2019-05-08 20:42] devoto13 commented on #138
I think it is a bit of both. In your first example Angular will pass the value to the `fa-icon` component, which will end up in the `<title>This works in IE</title>` element inside rendered SVG element. But it will also set `title` attribute on the `<fa-icon>` element. My speculation is that IE does not support the [`title`](https://developer.mozilla.org/en-US/docs/Web/SVG/Element/title) tag, but

[2019-05-09 07:34] chiraggmodi opened #140 "Want pass icon name as a variable"
I am getting Icon name from http request and want to pass that name as a icon name
but when i do that i am getting this error
`FontAwesome: Could not find icon with iconName=facebook and prefix=fas`

here is my code in html
[code]

[2019-05-09 07:50] devoto13 commented on #140
Most likely your forgot to add this icon to the library using `library.add(...)`. See [documentation](https://github.com/FortAwesome/angular-fontawesome#using-the-icon-library) for more information.

[2019-05-09 08:05] danieldanielecki commented on #135
It's overcomplicated there, that's why decided to open a new issue based on solution which already exists for React.

[2019-05-09 10:23] bartdebever commented on #140
Note that it's also stating `facebook and prefix=fas`. The Facebook icon is within the Brands library so should be with the 'fab' prefix.

[2019-05-09 14:00] #140 closed

[2019-05-09 14:33] damienwebdev commented on #135
@devoto13 I'm not certain on this one, but potentially we should have a docs site? Having all the content in the README has maybe run its course, as it's starting to become tediously large. We could simply utilize Github Pages as a starter and grow from there.

[2019-05-09 15:21] damienwebdev commented on #135
Additionally, I don't have any idea how https://fontawesome.com/how-to-use/on-the-web/using-with/angular gets updated, so we may want to figure out how to manually build to that point and keep that updated.

[2019-05-14 17:35] mlwilkerson commented on #135
@damienwebdev That doc on `fontawesome.com` is updated only from within our private/internal web app that deploys to `fontawesome.com`. So yes, keeping things in sync can be a challenge. We've fallen out of sync before with the Ember component, for example.

In general, I think we're trying to strike the right balance between: on the one hand, having an initial eyeful of quick start info there on

[2019-05-16 09:14] thanhpd commented on #83
Is anyone working on this feature? If not, I can take a look at this

[2019-05-16 11:56] devoto13 commented on #83
@thanhpd I did a good chunk of work in https://github.com/devoto13/angular-fontawesome/tree/schematics some time ago. So you can use it as a base.

You can run tests using `yarn test:schematics`.

IIRC I didn't figure out an easy way to run this on the actual project. So the remaining work would be to sort it out and test, that it works with `ng add`. And from the plan outline above I think it is

[2019-05-16 13:23] LeonsBuntis commented on #41
It doesn't work with Just applying CSS style `transition: transform 250ms;`. Because the `rotate` function is not rotating existing DOM element using CSS, but deletes existing element and creates new element.

[2019-05-16 16:10] devoto13 commented on #41
Here is a working example: https://stackblitz.com/edit/angular-z8v4ux-9vvflc

The trick is to set class on the `fa-icon` components itself and also set `display` for it. Because by default Angular components don't have any display and therefore don't affect the display of their children.

[2019-05-17 05:46] LeonsBuntis commented on #41
@devoto13 Thank you. But in your example you are not using `rotate` attribute provided by this libraries API, I thought It would be achievable that way.

[2019-05-23 09:39] AndreKoepke commented on #125
I had the problem too, the solution was to add a missing import-statement.

[code]

[2019-05-28 14:07] #137 closed

[2019-06-02 21:57] jamisonroberts opened #145 "The installation instructions will not work if your project isn't already Angular 8."
### Describe the problem

The installation instructions will not work if your project isn't already Angular 8.

### Reproducible test case

If you have an Angular 6 or 7 project and follow the instructions, you will end up with angular-fontawesome version 0.4.0 (as of now).  This appears to require angular 8, and you will end up with build error "export 'defineinjectable' was not found in '@angula

[2019-06-03 01:10] fchiumeo commented on #145
see [changelog](https://github.com/FortAwesome/angular-fontawesome/blob/master/CHANGELOG.md#040---2019-03-28)

[2019-06-03 08:06] devoto13 commented on #145
Thanks @fchiumeo!

It would be good to have a compatibility table close to the Installation section of the README (like [here](https://github.com/ng-bootstrap/ng-bootstrap#dependencies)). PRs welcome!

[2019-06-04 15:51] devoto13 commented on #95
Closing as this issue seems to be fixed now.

[2019-06-04 15:51] #95 closed

[2019-06-04 16:00] devoto13 commented on #108
Thanks for the suggestion, but it is not something we want to implement.

See discussion in https://github.com/FortAwesome/angular-fontawesome/pull/110 for the reasoning.

[2019-06-04 16:00] #108 closed

[2019-06-05 03:00] Destreyf opened #146 "Feature Request: Support multiple paths for (custom) icons."
### Describe the problem you'd like to see solved or task you'd like to see made easier

I am looking to use the fa-icon system to store my own SVG's as font awesome icons, these SVG's are multi-colored and thus have multiple paths, it'd be nice to be able to support multiple paths.

### Is this in relation to an existing part of angular-fontawesome or something new?

I believe it would be super b

[2019-06-06 21:39] Marielk commented on #94
Hello, i got the same error, i was follow step by step the installation and set up but got the same result as in the question, i am using "@angular/cli": "~7.3.9"

app module imports :
import { FontAwesomeModule } from '@fortawesome/angular-fontawesome'
import { library } from '@fortawesome/fontawesome-svg-core'
import { faExclamationCircle } from '@fortawesome/free-solid-svg-icons'

imports: [

[2019-06-07 08:22] devoto13 commented on #94
@Marielk It's probably the same issue as https://github.com/FortAwesome/angular-fontawesome/issues/145. You'll need to install `0.3.0` for Angular 7, as 0.4.0 is for Angular 8 only.

[2019-06-10 19:58] Marielk commented on #94
thank you! it works for me c:

[2019-06-10 21:21] ubugnu opened #147 "export 'ɵɵdefineInjectable' was not found in '@angular/core'"
### Describe the problem

Getting error `WARNING in ./node_modules/@fortawesome/angular-fontawesome/fesm5/angular-fontawesome.js 162:55-73
"export 'ɵɵdefineInjectable' was not found in '@angular/core'` after angular compilled

### What did you expect?

I didn't expect to find these two theta `ɵɵ` characters in code

### Reproducible test case

[code]
### How to get rid of the error
Just remove the

[2019-06-11 07:40] devoto13 commented on #147
Looks like duplicate of https://github.com/FortAwesome/angular-fontawesome/issues/145. Please use 0.3.0 if you're using Angular 6 or 7 and 0.4.0 if you're using Angular 8.

[2019-06-13 05:52] Destreyf commented on #138
@Devqon

I've had a similar issue where i had my own properties interfering, if your goal is just to trigger the "title" property as if it were plain HTML but are wanting to pass in a variable i would recommend doing it this way:

[code]

Using `[attr.title]` forcibly sets the attribute on the fa-icon element, this can be done to target any traditional HTML attribute that may have an overlapping i

[2019-06-13 05:57] Destreyf commented on #83
Another feature that could be implemented is prompts, so you could ask the users which fonts they wanted and i believe you can do a checkbox style input on the ng architect api.  This way packages that the user doesn't intend to use won't be pulled in automatically.

[2019-06-13 17:02] jkon commented on #109
@devoto13 can you paste an example of how you use it? I am trying to get it to work, but the icon is not showing up for me. How to you use it in an angular template? Do you use it with an <fa-icon> or an <i> element with a class like in @mlwilkerson 's example project? His example doesn't work for me. Also, I have an svg that has multiple path elements in the html code. How do I put them all in th

[2019-06-14 08:11] devoto13 commented on #109
@jkon Find below an example of one of our custom icons:

[code]

And then you pass this object into `fa-icon` component:

[code]

Note that you can have only one path in your icon. Also there were some other requirements in regards of path being closed (but can't remember precisely now). I would recommend to take one of the existing icons and modify it instead of starting from scratch. This way it

[2019-06-14 20:58] kraenels opened #148 "Role attribute (role="img") fails WCAG audit"
I'm running a WCAG audit on a web app, which uses the menu bars icon as well as several others in sidebar menu items (e.g., home icon for the Home item). The app is currently failing the audit because the `<fa-icon>` component builds the svg with the 'role="img"' property.

Here's the requirement from WCAG, provided by Siteimprove's Google Chrome extension:

1.1.1 Non-text Content
The WAI-ARIA ima

[2019-06-14 21:08] mlwilkerson commented on #148
Thanks for the report.

If there is an accessibility correction to be made along these lines, then it might actually need to be made deeper in our stack, such as in the `fontawesome-svg-core` package (and maybe elsewhere too).

@robmadole thoughts?

[2019-06-16 20:12] DaSchTour commented on #134
I would suggest to just use `MockModule` from [ng-mocks](https://www.npmjs.com/package/ng-mocks)

[2019-06-18 16:49] jkon commented on #109
@devoto13 Thanks, that worked! I think my problem was not defining the object as an IconDefinition or maybe not casting as any.

[2019-06-19 00:42] raydawg2000 opened #150 "Contradiction in documentation regarding Tree Shaking?"
In the section regarding the Icon Library, this snippet is at the end:

`"You can also import entire icon styles. But be careful! Whatever you import may end up bloating your final bundle with icons you're not using."`

Further down in the documentation regarding Tree Shaking there is this:

`"Tree shaking — automatically eliminating unused icons from the final bundle—Just WorksTM"`

These 2 state

[2019-06-19 11:56] devoto13 commented on #150
What we mean in the first statement is that it is not possible to tree shake because it is not possible to statically identify, which icons are used or not when adding whole icon package into the library. But if you import single icon from the package it will automatically drop all others from the bundle without any extra configuration for the bundler.

E.g.

[code]

[code]

I agree that documenta

[2019-06-20 15:05] robmadole commented on #148
Yes the best solution here is to allow the `role` to be passed in as a property when rendering. This way it can be changed from the default of `role="img"`. This is already supported in the `@fortawesome/fontawesome-svg-core` library which probably means we just need to update `angular-fontawesome` to support it.

[2019-06-27 12:59] JohnnyDevNull commented on #72
Here if anyone needs this too. I run in this issue today... thanks to @kgrvr  for the hint!

[code]

[2019-06-27 13:09] devoto13 commented on #147
Closing as duplicated of https://github.com/FortAwesome/angular-fontawesome/issues/145.
Please comment if you don't think that this is the case.

[2019-06-27 14:20] #145 closed

[2019-06-27 14:23] devoto13 commented on #147
I've also updated the title, so this issue is easier to find as many users seem to have this problem.

[2019-06-28 12:08] caleuanhopkins commented on #125
Hey so running into this issue also. Been using Pro on an angular 7 project for months, no issues what so ever. Tried to load the `faGoogle` icon and get these errors:

![Screenshot 2019-06-28 at 13 05 46](https://user-images.githubusercontent.com/1164525/60341238-c37e5200-99a5-11e9-967a-098d6c953646.png)
![Screenshot 2019-06-28 at 13 05 36](https://user-images.githubusercontent.com/1164525/603412

[2019-06-28 12:10] devoto13 commented on #125
@caleuanhopkins Can you try to perform steps described in https://github.com/FortAwesome/angular-fontawesome/issues/125#issuecomment-466036515 to see if you have two instances of the `@fortawesome/fontawesome-common-types` package?

[2019-06-28 12:14] caleuanhopkins commented on #125
Can only find the 1 instance in the lock file and looks like all the libraries are loading the correct version in their dependency:

![Screenshot 2019-06-28 at 13 11 44](https://user-images.githubusercontent.com/1164525/60341452-7babfa80-99a6-11e9-8eb3-74c51ace3dba.png)

[2019-06-28 12:30] devoto13 commented on #125
@caleuanhopkins Something looks odd, e.g.: `@fortawesome/pro-light-svg-icons` is of version `^5.6.3` in the `package.json` and `5.8.2` in your `package-lock.json` screenshot. Can you ensure that these are from the same project and same version of the project and you have run `npm install`?

[2019-06-28 12:34] caleuanhopkins commented on #125
Ok apologies! 🤦‍♂

Using Yarn to install packages and noticed after I remove the `package-lock.json` that yarn has it's own `lock.json` file and yes I can see more than 1 `@fortawesome/fontawesome-common-types` package.

have removed the incorrect package now from the `yarn.lock`, reinstalled `node_modules` and is working now 👍

[2019-07-01 16:24] Ionaru opened #153 "Feature request: Programming API for icons"
### Describe the problem you'd like to see solved or task you'd like to see made easier
I want to change an icon to indicate progress during an async function.
Currently I'd need to keep an extra variable that the Angular template can check against and make different icons visible. I'd much rather talk to the icon directly.

### Is this in relation to an existing part of angular-fontawesome or som

[2019-07-01 21:20] devoto13 commented on #153
Thanks for opening an issue @Ionaru.

The piece you're missing to get it working is to call `myIcon.ngOnChanges({})` after setting the component property to the new value. Also in your second example you rather want to do `myIcon.iconProp = someOtherIcon;`, then after doing `myIcon.ngOnChanges({})` the `fa-icon` will render an icon definition into HTML itself. But this is a dirty unsupported worka

[2019-07-01 21:39] Ionaru commented on #153
Will you guys be able to document the existing function and what they do?
I've seen `ngOnChanges()` in the type definitions but from the name it looks more like an event than a function that applies an update to the icon.

[2019-07-01 21:55] devoto13 commented on #153
This is an [Angular hook](https://angular.io/api/core/OnChanges), which Angular calls, when you set new values to the properties in the template. Unfortunately it is not called, when you set same properties programatically. Calling it manually is a workaround to make component render updated icon. As it is a workaround you use it at your own risk. We don't officially recommend doing this and that'

[2019-07-01 22:09] Ionaru commented on #153
With `myIcon.ngOnChanges({});` it works like a charm, thank you for the help!

I hope the functionality gets expanded by both the Angular and FontAwesome teams in the future. 👍

[2019-07-01 22:20] Arackow commented on #85
@robmadole can we reopen this? The workaround listed here isn't a good one since it is not standard and doesn't work on every browser. Below is what i see. the icon in question is using size="lg" so its not a huge size difference.
![Annotation 2019-07-01 181750](https://user-images.githubusercontent.com/9533786/60470039-e40c0d80-9c2c-11e9-937c-25ec02397a63.png)

There is _something_ wrong here.

[2019-07-10 04:54] andan604 opened #154 "Layers Counter / Text not working in Angular 8 with Ivy enabled"
### Describe the problem

Everything in a component after `<fa-layers>` with `<fa-layers-counter>` or `<fa-layers-text>` stop rendering if Ivy has been enabled. The console prints the following error:

### What did you expect?

I would expect it to work, even if Ivy is enabled :)

### Reproducible test case

I've been unable to get StackBlitz to run an Ivy-enabled project. So here's some instructi

[2019-07-10 06:47] RajabMohammadi commented on #147
@devoto13 Thanks worded for me change the version of fontawesome-angular from 0.4.4 to 0.3.0

[2019-07-17 13:38] albertzubkowicz commented on #78
issue persists on Angular 8.0.3, only running without --aot flag doesn't produce errors.

[2019-07-25 11:04] martinkasa commented on #145
Author states he is using semantic versioning. Breaking something means increase of major version. Removing Angular v6 and v7 support is breaking change.

[2019-07-25 11:07] devoto13 commented on #145
See point 4 in the specification: https://semver.org/
Currently we avoid breaking changes in patch releases only.

[2019-07-25 11:09] martinkasa commented on #145
ok, thanks for poiting out.

[2019-08-01 04:12] JaxonWright opened #156 "Feature request: Add support for the new duotone icons"
### Describe the problem you'd like to see solved or task you'd like to see made easier

Add support for the newly-announced FontAwesome Duotone icons which are a part of the Pro version.

### Is this in relation to an existing part of angular-fontawesome or something new?

Something new.

### What is 1 thing that we can do when building this feature that will guarantee that it is awesome?

Add di

[2019-08-01 09:33] Bottlecaps4 commented on #41
If you're referring to the `fa-rotate-*`  class then all you need to do is to add `transition: transform 2s;`  to the CSS class and it will animate the rotation. Toggling the `fa-rotate-*` class directly will animate the rotation directly to the icon.

[2019-08-01 11:01] jnurse13 commented on #156
Yes please

[2019-08-06 22:51] toverux commented on #153
Hi! I need this too, same use case :)

I've discovered that calling `ngOnChanges` works because I'm quite used to change inputs programmatically, especially since Angular directives can't bind to inputs of the host element through `@HostBinding` (obly DOM attributes).

I'm not sure that Angular will offer an API to do that properly anytime soon as the problem is complex, and actually, using `ngOnC

[2019-08-07 09:17] LewisBrowne commented on #156
I support this.

[2019-08-07 15:39] devoto13 commented on #156
It's coming. In the meantime you can use all the features of duotone icons with existing `fa-icon` by passing desired classes or styles using `classes` and `styles` properties. E.g.

[code]

[2019-08-07 17:45] #150 closed

[2019-08-08 02:21] devoto13 commented on #7
https://github.com/mgechev/angular-seed is deprecated. Wiki guides in Angular CLI are also deprecated - https://github.com/angular/angular-cli/issues/13018#issuecomment-454907996.

[README](https://github.com/FortAwesome/angular-fontawesome/blob/master/README.md) has the integration steps, which are not project generator specific and should work in any sane environment.

[2019-08-08 02:21] #7 closed

[2019-08-08 12:43] #156 closed

[2019-08-08 12:58] Rui90 opened #159 "Dynamic append a font awesome icon in content"
I already got the way how to use the fa-icon in order to display font awesome icons.

But I need another way to display icons in angular and I don't know if you guys provide it or even if that is possible.

So basically before angular I used for instance the following directly in the css styles:

[code]
But now, nothing renders, and I don't know if that is possible to still be used or to override

[2019-08-08 13:17] devoto13 commented on #125
Please check https://github.com/FortAwesome/angular-fontawesome/issues/125#issuecomment-466036515 for instructions how to diagnose and workaround this issue.

[2019-08-08 13:33] devoto13 commented on #159
No, this way of rendering icons with CSS is not possible with `angular-fontawesome`. Can you explain why you don't want/can't use `fa-icon` component in this case? Is it because you don't have access to the source code of the component, where you want to add an icon?

You can also check https://github.com/FortAwesome/angular-fontawesome/issues/72 about rendering dynamic icons using Angular facilit

[2019-08-08 13:45] Rui90 commented on #159
@devoto13 I'm currently struggling with the stars icon for instance, because currently it shows only the border painted, but on hover or selected I've also want to paint it inside. So previously I changed the font-weight on a css modifier, but now it does not seem to work, or at least I'm not being able to achieve it

![image](https://user-images.githubusercontent.com/6035220/62708335-1a3a6b00-b9e

[2019-08-08 13:52] devoto13 commented on #159
This you can achieve with `fa-icon` by changing the `icon` input dynamically:

https://stackblitz.com/edit/angular-z8v4ux-5kcr4x

[2019-08-08 13:56] devoto13 commented on #154
Seems to be an issue in Angular itself. Let's see if https://github.com/angular/angular/pull/31379 solves this and if not, I'll refactor our code.

[2019-08-08 14:00] Rui90 commented on #159
@devoto13  cool! thank you very much

[2019-08-08 14:00] #159 closed

[2019-08-08 14:55] devoto13 commented on #138
As said above it is an Angular intended behaviour: https://github.com/angular/angular/issues/24376. I'll rename all `title` inputs to something else to avoid a potential place to make a mistake.

As for the `title` input of the `fa-icon` it renders as https://developer.mozilla.org/en-US/docs/Web/SVG/Element/title, which "browsers usually display ... as a tooltip". But they don't have to and IE 11

[2019-08-08 15:31] damienwebdev commented on #134
I don't see a need for yet another dependency in the tree. We have a good opportunity here to provide a decent testing scaffold that is under this repo's control. I'd personally rather not be beholden to how `ng-mocks` works in order to save a few hours of development effort.

[2019-08-08 21:00] AmbroiseVuaridel opened #160 "fa-layers-counter not working in prod"
### Describe the problem

i got everything working perfectly with ionic 4 and angular 7 with fortawesome 0.3.0,
it is truly awesome.

Unfortunately i have an issue when building for prod : ionic build --prod -- --base-href ./
the badges seem not to be working in this case (it works with ionic serve or ionic build without prod), the code in question is :
      <fa-layers class="fa-fw" slot="end">

[2019-08-08 22:00] devoto13 commented on #160
Do you get any errors/warnings in the console? May be related to https://github.com/FortAwesome/angular-fontawesome/issues/154.

I personally don't use Ionic, so it's hard to say what may be the issue. If you setup a minimal repro and put it on GitHub, so it is possible to clone, run and observe the problem I can try to debug it.

[2019-08-08 22:01] devoto13 commented on #160
Also you do have your code wrapped into `fa-layers` component, right?

[code]

[2019-08-08 22:03] devoto13 commented on #160
Also [`content` is a `string`](https://github.com/FortAwesome/angular-fontawesome/blob/master/src/lib/layers/layers-text-base.component.ts#L35), so it should be either  `<fa-layers-counter [content]="'46'">` or `<fa-layers-counter content="46">`.

[2019-08-08 22:10] devoto13 commented on #77
Closing as question was answered.

[2019-08-08 22:10] #77 closed

[2019-08-09 09:00] AmbroiseVuaridel commented on #160
Hello @devoto13, Thank you for your comments!
I just realized the problem is only on firefox, not chrome.
There is no errors/warnings in the console.
I did not enable Ivy.
it is indeed wrapped into a fa-layers component like this:
      <fa-layers class="fa-fw" slot="end">
        <fa-icon [icon]="['fas','shopping-cart']"></fa-icon>
        <fa-layers-counter [content]="'46'" class="fa-icon-counte

[2019-08-09 09:03] devoto13 commented on #160
@AmbroiseVuaridel Then, please, prepare a minimal reproduction of the problem as requested in https://github.com/FortAwesome/angular-fontawesome/issues/160#issuecomment-519703238. Without the reproduction it is hard to assist your further.

[2019-08-09 09:36] devoto13 commented on #148
`title` input of the `fa-icon` allows to set an alternative text for the icon (it will add `aria-labelledby` attribute). I'll add possibility to customise the `role` attribute of the SVG as well.

[2019-08-09 09:37] #153 closed

[2019-08-09 09:53] #148 closed

[2019-08-09 11:50] #50 closed

[2019-08-09 11:51] devoto13 commented on #50
We actually want component to crash, when `icon` input is not provided.

Either use solution from @osahner to render nothing at all until icon is available:

[code]

Or provide the default icon until the desired one is available:

[code]

[2019-08-09 11:55] devoto13 commented on #33
Closing as answered by @rapropos. Thanks!

The reasoning is outlined in https://github.com/FortAwesome/angular-fontawesome/issues/122#issuecomment-454595942.

[2019-08-09 11:55] #33 closed

[2019-08-09 12:24] #51 closed

[2019-08-09 14:47] Arackow opened #165 "Fa Counter is way too small"
### Describe the problem
The counter is very small on icons. completely illegible.

![100](https://user-images.githubusercontent.com/9533786/62787514-de5ae080-ba92-11e9-8b6b-89a00e4a1739.png)
This is at 100% with just default icon size.
![300](https://user-images.githubusercontent.com/9533786/62787534-e9157580-ba92-11e9-854d-4c56cae99b26.png)
this is at 300% with just default icon size.

### What

[2019-08-09 15:17] devoto13 commented on #165
There is a https://github.com/FortAwesome/angular-fontawesome/issues/85. But I will look if we can fix/improve this somehow.

[2019-08-09 15:58] AmbroiseVuaridel commented on #160
@devoto13
I have really narrowed down the problem to firefox (latest version), just run the below repro below, you'll see a 46 badge on the cart icon on chrome but not firefox
https://github.com/AmbroiseVuaridel/fortawesome_minimal_repro

[2019-08-09 22:32] devoto13 commented on #86
See https://github.com/FortAwesome/Font-Awesome-Pro/issues/1422#issuecomment-520084263. It is a Safari bug. I've asked `fontawesome-svg-core` to implement a workaround to resolve this issue.

[2019-08-09 23:24] devoto13 commented on #138
Okay, I tried to fix this based on the assumption, that `title` input is only intended to define label for assistive technologies, but not tooltip and that tooltip was an unintended side effect, but it looks more like `title` is supposed to both display a tooltip and add a11y label. Given the above I'll just ensure that `title` attribute is set using both syntaxes, which will ensure that tooltip i

[2019-08-09 23:30] #138 closed

[2019-08-10 00:02] devoto13 commented on #160
The reason is that you use non-standard `zoom` property, which is not supported by Firefox: https://caniuse.com/#feat=css-zoom, position of the counter element gets messed up and that's why you don't see it. If you remove all custom styling the counter will become visible, but very small (which is tracked in https://github.com/FortAwesome/angular-fontawesome/issues/165).

I would recommend to use

[2019-08-10 00:02] #160 closed

[2019-08-10 02:40] AmbroiseVuaridel commented on #85
@robmadole Any news ?

[2019-08-11 22:01] #3 closed

[2019-08-11 23:23] devoto13 commented on #146
While it is not a complete solution new `fa-duotone-icon` component supports working with two paths.

[2019-08-12 06:23] DaSchTour commented on #50
WTF? Seriously? You should never want something to crash. It should catch and report errors and continue working.

[2019-08-12 06:57] bjornharvold opened #169 "Migration document 0.4.0 -> 0.5.0 misleading"
### Describe the problem

The doc refers to an "add" method that does not exist on the new library object.

### What did you expect?

Should say "addIcons"

[2019-08-12 07:02] DaSchTour commented on #134
Well I would not add ng-mocks as a dependency to this module but just refer to ng-mocks for testing. For bigger angular applications ng-mocks is a must have. So telling people to use ng-mocks would be just enough from my point of view. So there will be no need to change or add any code but just add documentation.

[2019-08-12 07:44] devoto13 commented on #169
@bjornharvold Do you mean this one?

<img width="382" alt="image" src="https://user-images.githubusercontent.com/823594/62851244-c3cc7580-bce5-11e9-80e4-03ca038a2cb8.png">

[2019-08-12 08:08] devoto13 opened #170 "Allow to specify a fallback icon"
User wants to use `AsyncPipe` with `fa-icon` component and display the placeholder icon while icon is being loaded. See https://github.com/FortAwesome/angular-fontawesome/issues/50.

`<fa-icon [icon]="icon | async"></fa-icon>`

The solution is to add a new configuration property to the `FaConfig` class.

[code]

When value is `null` (default), then `fa-icon` component will throw an error if `icon`

[2019-08-12 08:10] devoto13 commented on #50
Maybe I was not completely clear. Component will throw a clear error that `icon` input property is required. Missing `icon` input is not an expected usage and warning is easy to miss especially if it appears after the refactoring.

Solutions described in https://github.com/FortAwesome/angular-fontawesome/issues/50#issuecomment-519890025 allow to clearly express the intention: show either nothing o

[2019-08-12 14:40] timohermans opened #171 "dom.watch() causes a lot of problems in Angular 8"
### Describe the problem

I upgraded font awesome from 0.4 to 0.5 after upgrading Angular from 7 to 8. However, after upgrading to 0.5 and succesfully exchanging the old svg-core library to the new library, I noticed that every function call or directive that is triggered by change detection to cause a whole application freeze that is

### What did you expect?

A deprecation error or something els

[2019-08-12 15:12] devoto13 commented on #171
`FaIconLibrary` is not designed to work with `dom.watch()`, so you'll need to add icons into both: old global library and `FaIconLibrary` (I'll update upgrading instructions with the note about it). I was actually thinking to drop support for `dom.watch()` completely in several releases as mixing MutationObserver with Angular change detection is risky (as this issue indicates). Can you describe wh

[2019-08-12 15:53] timohermans commented on #171
Thanks for the quick reply! Also very interesting stuff regarding how `dom.watch()` actually works.

As to why I use it: I recently joined a company that had this piece of code in the app module of the project I'm now working on. I'm not sure (yet) as to why it was actually in there 😅. I was really lucky I guess to find the culprit to be the `watch` 😊

[2019-08-12 17:26] devoto13 commented on #171
Yeah, indeed!

Basically there is a `fontawesome-svg-core` library, which can use `MutationObserver` to replace `<i class="fas fa-user></i>` with the `<svg>` element containing the icon. `dom.watch()` controls this functionality. If you don't use  `<i class="fas fa-user></i>`, but use `<fa-icon icon="user"></fa-icon>` to render icons, then you don't need to call `dom.watch()`.

`angular-fontawesom

[2019-08-12 21:03] devoto13 commented on #165
I've looked at it and counter does behave as designed. The counter is supposed to be 1/4 of the icon's font size, that's why it is small, when icon size is 1x. In practice it is hard to make counter work perfectly for various combinations of fonts and font sizes, so keeping it simple sounds like a reasonable approach. Then consumers can apply bits of CSS to make counter look good for their particu

[2019-08-12 21:12] devoto13 commented on #85
Here is a better implementation to control appearance of the counter, which works across browsers:

[code]

1. Make sure to set `fixedWidth=true` to ensure that counter is correctly positioned.
2. Use CSS transform to adjust size/position of the counter. Try playing with the values to achieve the desired look.

Demo: https://stackblitz.com/edit/angular-z8v4ux-gzuzmd

[2019-08-12 21:28] devoto13 commented on #165
We can probably expose these 3 values as component inputs to make customisation more user friendly. Also looks like some fixes to icon positioning is required (`fa-layers` has fixed size of 1em, while icon sizes wary, messing up the counter position - not exactly in the corner of the icon).

[2019-08-12 22:25] AmbroiseVuaridel commented on #85
@devoto13 Awesome ! Thanks !

[2019-08-13 02:45] kraenels commented on #148
Thanks, @devoto13!

[2019-08-16 00:37] danieldiazastudillo commented on #169
Stackblitz example is misleading. Not using the same approach from the one used in Using Icon Library.

[2019-08-16 02:00] rooby commented on #169
I would say it is misleading in that it says

however if I remove the @fortawesome/fontawesome-svg-core package from my package.json I get a bunch of errors that come from @fortawesome/angular-fontawesome importing type definitions from @fortawesome/fontawesome-svg-core.

So you currently still need to have the @fortawesome/fontawesome-svg-core package installed becuase it is not listed as a depen

[2019-08-16 08:47] devoto13 commented on #169
@danieldiazastudillo There is one Stackblitz to be updated in the [README](https://github.com/FortAwesome/angular-fontawesome#stackblitz) and another one in the issue template. Did you have anything else in mind?

@rooby The migration guide doesn't mention that you should remove `@fortawesome/fontawesome-svg-core` from your dependencies. It is still a [peer dependency](https://github.com/FortAweso

[2019-08-16 10:57] devoto13 commented on #169
Updated both Stackblitz examples and added note to the upgrade guide that `@fortawesome/fontawesome-svg-core` dependency should not be removed.

[2019-08-23 11:58] igorlino commented on #7
@devoto13 thanks for the tip 👍  and thanks for the rest of the documentation effort.

[2019-08-23 22:09] devoto13 opened #172 "Better support for custom icons"
1. Document how to render custom icon using angular-fontawesome.
2. Investigate what can be done to improve support for custom icons without sacrificing auto complete for stock Font Awesome icons. E.g.

[code]

will fail to compile, because `my-custom-icon` is not a known icon name. However if we change type to allow arbitrary `string` as an icon name we'll loose the auto complete for stock icons

[2019-08-28 06:52] SteamWind opened #173 "Feature request: inset gradients!"
### Describe the problem you'd like to see solved or task you'd like to see made easier

A way to apply inset gradients on icons.

### Is this in relation to an existing part of angular-fontawesome or something new?

This is new for angular-fontawesome but not for Font-Awesome as described here:
https://github.com/FortAwesome/Font-Awesome/issues/11925

### What is 1 thing that we can do when build

[2019-08-28 17:20] devoto13 commented on #173
As discussed in the linked issue it is not possible to use CSS gradients with SVG icons, so you'll have to use SVG gradients instead. The solution described in https://github.com/FortAwesome/Font-Awesome/issues/11925#issuecomment-393975346 should work with `angular-fontawesome` as well. Does it work for you?

[code]

As for the nicer API I'm not sure:
- Currently `angular-fontawesome` is using `@f

[2019-08-29 10:53] jgomesmv opened #174 "Font weight css property not working"
### Describe the problem

When I set a css class with a specfic font-weight value the icon weight don't change
The icon font-weight remains the same

### What did you expect?

The icon appearance to change when I set the font-weight  value

### Reproducible test case

Icon tag:
<fa-icon [icon]="['fal', 'angle-down']" class="angleIcon"></fa-icon>

Css class:
  &__accordionOpenAnchorIcon {
    posit

[2019-08-29 11:20] devoto13 commented on #174
`angular-fontawesome` renders icons using SVG images, not fonts, so `font-weight` is expected to have no effect.

If you want to render an icon to the icon from another style you'll need to modify the `icon` input property. Please, check https://github.com/FortAwesome/angular-fontawesome/issues/159#issuecomment-519527147 and let me know if it helps. It seems to be similar to what you're trying to

[2019-08-29 12:27] jgomesmv commented on #174
OK understood. So there it less flexibility, you can only use the available properties.
To set the icon weight:
Solid
Regular
Light

To set the size:
fa-xs
fa-sm
fa-lg
fa-2x
fa-3x
fa-5x
fa-7x
fa-10x

Or there is another way to style size and weight?

[2019-08-29 13:30] devoto13 commented on #174
For the weight, yes. Note that different styles do not only change icon thickness, but also the shape of the icon (e.g. filled or not, etc).

As for the size, besides the property, an icon will also inherit the font-size of the place where it is rendered, so it aligns with the surrounding text: https://stackblitz.com/edit/angular-z8v4ux-drdc85?file=src%2Fapp%2Fapp.component.html.

[2019-08-29 13:34] jgomesmv commented on #174
OK! Clear answer! Thanks for your help!

[2019-08-29 13:34] #174 closed

[2019-09-03 08:00] piernik commented on #171
It turns out that I need `dom.watch()` too. I'm fetching html from server where icons can be used (`<i class="fa far-calnedar"></i>`). Maybe in `FaIconLibrary` You can provide method that will trigger checking icons in plain html, so we could manually run that function? And also You could run that proccess outside angular's zone?

[2019-09-04 16:47] program-om commented on #94
I am having the same problem. I have angular 6.1.10 and tried to install angular-fontawesome 0.2.0 and 0.3.0 and still the problem there.

[2019-09-06 14:39] seanreiser commented on #173
Have you considered using a mask to accomplish this,? Here's a codepen I through together using a rainbow gradient for the apple icon.

https://codepen.io/seanreiser/pen/QWLaZZp

[2019-09-08 10:55] SteamWind commented on #173
Only if this was such easy. @seanreiser this is the angular component. Here is an exemple with your solution:
https://stackblitz.com/edit/fontawesome-angular-gradient-background-173

[2019-09-08 16:37] devoto13 commented on #173
@SteamWind https://stackblitz.com/edit/angular-z8v4ux-5jecuk

[2019-09-09 09:14] SteamWind commented on #173
Nice solution @devoto13 !
I modified your solution to work with any icons with a specific class.

https://stackblitz.com/edit/fontawesome-angular-gradient-background-fix-173

This could be documented somewhere?

[2019-09-09 12:08] SteamWind commented on #173
The only problem with this solution is that you can't have a transparent mask... I consider this should not be an end solution.
I let this open as it could be a feature.

[2019-09-09 14:33] Cammeritz commented on #171
I had the same problem too.

My workaround was simply calling "dom.i2svg();" once after i fetched the html and inserted it into the dom :)

[2019-09-09 15:13] SteamWind commented on #173
Result:
![result](https://cdn.discordapp.com/attachments/583545037233586193/620634282549051408/unknown.png)

[2019-09-09 21:04] devoto13 commented on #173
Sure. Was thinking to introduce a Recipes section in the documentation to include docs on how to implement common things. I'll take a look at it, when I have time.

Can you provide an example of what is "transparent mask"? Something like [this](https://stackblitz.com/edit/fontawesome-angular-gradient-background-fix-173-sgzhui)?

[2019-09-10 07:23] SteamWind commented on #173
Nice effect but no, I mean, if you already have a gradient in background of your icon, the square mask cover a part of it. It's the principle of the mask. You can see what I mean here:
![image](https://user-images.githubusercontent.com/5443726/64591795-e87e4080-d3aa-11e9-975c-95bd266e3cbe.png)

Also, if you don't know the background color, that's a problem...

[2019-09-10 07:50] piernik commented on #171
@Cammeritz - it's working but in that way You have to add icons to `FaIconLibrary` from `@fortawesome/angular-fontawesome` and to `library` from `@fortawesome/fontawesome-svg-core`.

New method in `@fortawesome/angular-fontawesome` will be much better.

[2019-09-10 12:58] MrSuttonmann opened #177 "fa-stack renders blank, but removing wrapper renders icons"
I want to display an icon stack on my page, so this is what I have:

[code]

However, this renders completely empty:
![image](https://user-images.githubusercontent.com/7480500/64615471-8c2f1700-d3d2-11e9-8c13-0d032dfe99ec.png)
![image](https://user-images.githubusercontent.com/7480500/64615490-951fe880-d3d2-11e9-95b0-8a52f3cf539a.png)

If I remove the `<fa-stack>` wrapper, the icons render:
![imag

[2019-09-10 13:04] devoto13 commented on #177
Please check [docs](https://github.com/FortAwesome/angular-fontawesome/blob/master/docs/usage/features.md#stacked-icons) for the correct usage. `stackItemSize` property is required.

Somehow I've [expected](https://github.com/FortAwesome/angular-fontawesome/blob/master/src/lib/stack/stack.component.ts#L6) this issue to come up... Let's keep this issue open to implement a check for missing `stackIt

[2019-09-10 13:07] plinkpaste commented on #177
@devoto13 Ah. That's not so obvious from the documentation, I would have assumed default to have been '1x'.

Either an error if it's missing or a default of '1x' would be useful, rather than rendering nothing.

[2019-09-10 13:11] plinkpaste opened #178 "fa-icon prefix doesn't seem to work"
### Describe the problem

Defining an icon with a prefix doesn't change the prefix.
[code]
![image](https://user-images.githubusercontent.com/7480500/64616444-7fabbe00-d3d4-11e9-8402-9b1ec84775ca.png)

### What did you expect?

I expect changing the prefix value to actually change the prefix. As you can see, with a prefix value of 'far', the icon is been looked for in 'fas'.

### Reproducible test

[2019-09-10 13:16] devoto13 commented on #177
@plinkpaste Sorry about that. Can you submit a PR to mention in the documentation that the `stackItemSize` property is required? This will be useful until we implement the actual error checking.

PS Unfortunately we can't make this a default, because it is a separate [directive](https://github.com/FortAwesome/angular-fontawesome/blob/master/src/lib/stack/stack-item-size.directive.ts), which adds e

[2019-09-10 13:19] devoto13 commented on #178
There is no `prefix` input on the `fa-icon` component. Use `<fa-icon [icon]="['far', 'ban']"></fa-icon>` to pass a custom prefix. This proposal was discussed in https://github.com/FortAwesome/angular-fontawesome/issues/10 and rejected.

[2019-09-10 13:50] plinkpaste commented on #177
@devoto13 Sure, I can do that.

[2019-09-10 14:13] plinkpaste commented on #178
Thanks, I wasn't aware that `prefix` wasn't a font-awesome input!

[2019-09-10 14:13] #178 closed

[2019-09-10 15:10] pethaniakshay commented on #57
I am facing the same issue with Angular 8 and fontawesome svg core version 1.2.22

[2019-09-12 15:45] devoto13 opened #180 "Change silent errors to actually throw"
Currently `angular-fontawesome` logs errors (search for `console.error`) instead of throwing them. The goal of this story is to always throw errors, so they are not lost.

[2019-09-17 11:39] devoto13 commented on #169
Problems reported in this issue were resolved. Feel free to open a new issue if you still experience troubles with the upgrade.

[2019-09-17 11:39] #169 closed

[2019-09-18 06:02] kirstenfrager opened #183 "'fa-stack' is not a known element - Angular 7"
### Describe the problem

When using any of font-awesomes additional features, error is thrown.

In this example, using <fa-stack> selector in html throws error:
[code]

### What did you expect?

To be able to use all the additional features with their component selectors.

### Setup

**ADDITIONAL INFO:**
 I am using font awesome pro
Using regular <fa-icon> selector tag works fine

Setup:
Angular

[2019-09-18 09:00] devoto13 commented on #183
@kirstenfrager `fa-stack` component was introduced in version [0.5.0](https://github.com/FortAwesome/angular-fontawesome/releases/tag/0.5.0), while you use the older version - 0.3.0. Bad news is that you'll have to upgrade Angular to be able to use the newer features... See [Compatibility table](https://github.com/FortAwesome/angular-fontawesome#compatiblity-table).

This is also related to https:

[2019-09-18 09:08] kirstenfrager commented on #183
@devoto13 damn, that is bad news. Thanks for your quick response.

[2019-09-18 09:08] #183 closed

[2019-09-18 12:10] #180 closed

[2019-09-18 12:18] #83 closed

[2019-09-19 07:33] erdalceylan opened #184 "crash browser border-radius"
We have a problem. android 6.0 and google chrome browser(some versions)
image disappears when "border-radius" is used when multiple icons are used.

_many of our users encountered this problem_

userAgent : Mozilla/5.0 (Linux; Android 6.0.1; SM-J700F) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/77.0.3865.73 Mobile Safari/537.36

testUrl : https://stackblitz.com/edit/angular-z8v4ux-dl83mu

![sc1]

[2019-09-19 08:08] devoto13 commented on #184
@erdalceylan I tried to run your reproduction on Chrome 76.0.3809.132 and 77.0.3865.92 on Android 9 and Android 7 (the only devices I have at hand) and was not able to reproduce the problem. Image loads a bit longer than icons and is displayed after 2-3 seconds.

1. Have you tried to connect to the Chrome with Dev Tools and see if image is loaded, but just not rendered? Or is not loaded at all?
2.

[2019-09-19 09:15] #170 closed

[2019-09-19 10:49] erdalceylan commented on #184
@devoto13  yes loading and displaying images.
but the image disappears when "border-radius" is given to the image

devices with which we have problems
android 6.0.1 chrome 76.0 (samsung galaxy note 4)
android 6.0.1 chrome 77.0 (Samsung Galaxy J7)

[2019-09-19 11:07] devoto13 commented on #184
Sorry, but I don't have any devices with Android 6.0.1 and given that issue does not reproduce on other devices using same versions of Chrome it sounds more like issue with the specific Android version, then with FontAwesome library. I would suggest to debug it further on your side.

[2019-09-20 03:56] nilahdad commented on #147
**WARNING in** ./node_modules/@ng-select/ng-select/fesm2015/ng-select-ng-select.js 2560:52-70
"export 'ɵɵdefineInjectable' was not found in '@angular/core'

Just removed the **ɵɵ** from **ɵɵdefineInjectable** in the 3 occurrences in
./node_modules/@ng-select/ng-select/fesm2015/ng-select-ng-select.js

**and it's working properly, thanks.**

[2019-09-24 10:17] devoto13 opened #186 "Outdated documentation on how to add icons to the library"
### Describe the problem

Outdated documentation using `library.add()` (e.g. [here](https://github.com/FortAwesome/angular-fontawesome/blob/master/docs/usage/using-other-styles.md#brand-icons)).

### What did you expect?

Up to date documentation using `FaIconLibrary.addIcons()` and `FaIconLibrary.addPacks()`.

Need to search documentation for usages of `library.add()` and update samples to show u

[2019-09-25 15:25] apijay opened #187 "Icon can be formatted as Link"
There is use case when an action is performed on clicking on icon e.g: close icon, it would nice to hover effect on icon for this case.

https://semantic-ui.com/elements/icon.html#link

[2019-09-26 10:20] YuriMB commented on #186
Please also add some explanation on how to use this in karma unit tests. Previously the library was global and could be used to register the icons in karma tests, but that no longer works.

[2019-09-26 12:00] devoto13 commented on #186
@YuriMB Can you please shortly describe your use case? `FaIconLibrary` is a regular Angular service, so you can inject it in the tests using [`TestBed.get(FaIconLibrary)`](https://angular.io/api/core/testing/TestBed#get) or [`inject`](https://angular.io/api/core/testing/inject):

[code]

If you're after configuring `FaIconLibrary` once per test run, then we don't have a recommended solution at the

[2019-09-26 12:09] devoto13 commented on #187
It's rather straight-forward to implement it and consumers may want behavior to look different depending on their design, so not sure how valuable is it to have a built-in support. Let's gather more feedback on this feature request.

https://stackblitz.com/edit/angular-z8v4ux-gbzehx?file=src%2Fapp%2Fapp.component.css

[2019-09-27 08:27] YuriMB commented on #186
if you want to use the `inject` method, then you need a separate beforeEach block, because you can't inject before calling `configureModule`. The `TestBed.get(FaIconLibrary)` option however works like a charm!

I've had some additional issues that were actually caused by other problems after migrating from Angular 7 to Angular 8. Thanks for the quick reply!

[2019-09-27 08:30] devoto13 commented on #135
For reference: https://github.com/FortAwesome/angular-fontawesome/issues/186#issuecomment-535845363

[2019-09-30 20:17] sergio8016 opened #188 "Licence is not included on package download."
### Describe the problem

Currently the MIT licence is not comming on the downloaded files before run the command npm i @fortawesome/angular-fontawesome

### What did you expect?

This licence file should be added for audit reasons.

[2019-10-01 13:02] devoto13 commented on #188
The license is specified in the `license` field of the [`package.json`](https://github.com/FortAwesome/angular-fontawesome/blob/master/package.json#L41). But if you need the actual file to be present in the downloaded package, please, send a PR.

[2019-10-04 13:34] epstarr commented on #125
Running into the issue mentioned above, my `package.json` and `package-lock.json` look like this:

![image](https://user-images.githubusercontent.com/4422380/66211182-20626600-e681-11e9-83fb-d36fe5451d2a.png)

![image](https://user-images.githubusercontent.com/4422380/66211134-06288800-e681-11e9-99a5-0ce68a06b1b3.png)

What I've done to get it to work is clear out lines 2549-2555 in my `package-lo

[2019-10-04 19:01] devoto13 commented on #125
@epstarr Explicitly specifying `@fortawesome/fontawesome-common-types` is one possible solution.

Your approach didn't work, because `@fortawesome/free-brands-svg-icons` 5.11.1 does require `@fortawesome/fontawesome-common-types` 0.2.24 or newer (so 0.2.22 does not satisfy the requirement). That's why hoisting didn't happen. What you may do instead is to either remove all records related to `@fort

[2019-10-06 20:23] Guy--L opened #189 "How to handle no icon at all?"
### Describe the problem

I see errors "FontAwesome: Could not find icon. It looks like you've provided a null or undefined icon object to this component."

From this markup:
`            <fa-icon [icon]="element.icon()" [ngClass]="element.style()"></fa-icon>
`
Where this component provides this function:
`    icon = (where: place) => {
        switch (this.Status[where]) {
            case "Town"

[2019-10-07 11:06] devoto13 commented on #189
@Guy--L See this comment for two possible solutions: https://github.com/FortAwesome/angular-fontawesome/issues/50#issuecomment-519890025.